<div class="skinny-container">
  <div class="btn-container">
    <% if @list.persisted? %>
      <a href="<%= list_path(@list) %>" class="btn">&larr; Back to List</a>
      <% if @list.owned_by_user?(current_user) %>
        <%= link_to "Delete List", list_path(@list), method: :delete, class: "btn danger pull-right", data: { confirm: "Are you sure? This is permanent and cannot be undone." } %>
      <% else %>
        <%= link_to "Leave List", list_user_list_path(@list, current_user), method: :delete, class: "btn danger pull-right", data: { confirm: "Are you sure? This is permanent and cannot be undone." } %>
      <% end %>
    <% else %>
      <a href="<%= lists_path %>" class="btn">&larr; All Lists</a>
    <% end %>
  </div>

  <% if @list.persisted? %>
    <div class="text-center">
      <a href="<%= list_user_lists_path(@list) %>" class="btn">List Users</a>
    </div>
  <% end %>

  <%= form_for @list do |f| %>
    <div class="form-title">
      <%= params[:action].to_s.capitalize %> List
    </div>

    <%= render partial: 'layouts/error_container', locals: { resource: @list } %>

    <div class="form-fields">
      <div class="form-field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="form-field">
        <%= f.label :description %>
        <%= f.text_area :description %>
      </div>
      <div class="form-field">
        <div class="checkbox-wrapper">
          <%= f.check_box :important %>
          <%= f.label :important do %>
            <div class="checkbox-placeholder"></div>
            <big>&bull; Important?</big> <br>
            When toggled ON, if there are any available items in this list, it will show up above the other lists regardless of order temporarily.
          <% end %>
        </div>
      </div>
      <div class="form-field">
        <div class="checkbox-wrapper">
          <%= f.check_box :show_deleted %>
          <%= f.label :show_deleted do %>
            <div class="checkbox-placeholder"></div>
            <big>&bull; Show previously deleted?</big> <br>
            When toggled on, items that have been removed previously will still appear in the list.
          <% end %>
        </div>
      </div>
      <div class="form-field">
        <div class="checkbox-wrapper">
          <%= hidden_field_tag :default, false, id: "false-default" %>
          <%= check_box_tag :default, true, @list.default_for_user?(current_user) %>
          <%= label_tag :default do %>
            <div class="checkbox-placeholder"></div>
            <big>&bull; Default?</big> <br>
            When toggled on, this will be the default list when adding items through the API.
          <% end %>
        </div>
      </div>
    </div>

    <div class="form-submission">
      <%= f.submit %>
    </div>
  <% end %>
</div>
