<%= meta_title "#{current_user.username}'s Lists", include_name: false %>
<%= content_for(:favicon) { render 'application/favicon' } %>
<%= content_for(:body_classes) { "black" } %>

<div class="skinny-container lists-index-container">
  <div class="btn-container">
    <a href="<%= account_path %>" class="btn">Account</a>
    <a href="<%= new_list_path %>" class="btn pull-right">New List +</a>
  </div>
  <div class="lists-title"><%= current_user.username %>'s Lists</div>
  <div class="lists" data-reorder-url="<%= reorder_lists_path %>">
    <% @lists.each do |list| %>
      <div class="list-item-container" data-list-id="<%= list.id %>">
        <div class="list-item-handle"><i class="fa fa-arrows"></i></div>
        <a href="<%= list_path(list) %>" class="list-item"><%= list.name.titleize %> (<%= list.list_items.count %>)</a>
      </div>
    <% end %>
  </div>
</div>
