<%= content_for(:body_classes) { "black" } %>

<div class="skinny-container">
  <%= form_for @list do |f| %>
    <div class="form-title">
      New List
    </div>

    <%= render partial: 'layouts/error_container', locals: { resource: @list } %>

    <div class="form-fields">
      <div class="form-field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="form-submission">
      <%= f.submit %>
    </div>
  <% end %>
</div>
