<%= meta_title "#{@list.name}", include_name: false %>
<%= content_for(:favicon) { render "lists/favicon" } %>

<%= render_modal "sort-list", "Sort" do %>
  <div class="text-center">
    <p>Selecting the buttons below will organize the current items on your list by the item name, the category name (Items without a category are last), or you may choose to shuffle the items randomly.</p>
    <a href="<%= list_path(@list, sort: :name, order: :asc) %>" data-method="PATCH" data-remote="true" class="btn">Name A-Z</a>
    <a href="<%= list_path(@list, sort: :name, order: :desc) %>" data-method="PATCH" data-remote="true" class="btn">Name Z-A</a> <br>
    <a href="<%= list_path(@list, sort: :category, order: :asc) %>" data-method="PATCH" data-remote="true" class="btn">Category A-Z</a>
    <a href="<%= list_path(@list, sort: :category, order: :desc) %>" data-method="PATCH" data-remote="true" class="btn">Category Z-A</a> <br>
    <a href="<%= list_path(@list, sort: :reverse) %>" data-method="PATCH" data-remote="true" class="btn">Reverse</a>
    <a href="<%= list_path(@list, sort: :shuffle) %>" data-method="PATCH" data-remote="true" class="btn">Shuffle (Random)</a>
  </div>
<% end %>

<div class="skinny-container list-container" data-list-id="<%= @list.id %>">
  <div class="btn-container">
    <a href="<%= lists_path %>" class="btn">&larr; All Lists</a>
    <a href="<%= edit_list_path(@list) %>" class="btn pull-right">Edit</a>
  </div>
  <div class="list-title"><%= @list.name.titleize %></div>
  <div class="list-description"><%= auto_link @list.description %></div>
  <% if @list.collaborators.any? %>
    <div class="collaborators pull-left text-left">
      <p>Owned by: <%= @list.owner == current_user ? "You" : @list.owner.username %></p>
      <p>Collaborators: <%= @list.collaborators.map(&:display_name).join(", ") %></p>
    </div>
  <% end %>
  <a data-modal="#sort-list" class="btn pull-right">Sort</a>
  <%= form_for [@list, @list.list_items.new], html: {class: "basic new-list-item-form"} do |f| %>
    <div class="list-field">
      <%= f.text_field :name, class: "new-list-item filterable", placeholder: "Add new item", autofocus: true %>
    </div>
  <% end %>
  <div class="list-error hidden">Disconnected...</div>
  <div class="important-list-items"></div>
  <div class="list-items" data-update-url="<%= receive_update_list_path(@list) %>">
    <%= render template: "list_items/index", locals: {list: @list} %>
  </div>
</div>
