<%= meta_title "#{@list.name.capitalize}", include_name: false %>
<%= content_for(:favicon) { render "application/favicon" } %>
<%= content_for(:body_classes) { "black" } %>
<% content_for :head do %>
  <%= javascript_include_tag 'support/touch_punch.js' %>
<% end %>

<div class="skinny-container list-container" data-list-id="<%= @list.id %>">
  <div class="btn-container">
    <a href="<%= lists_path %>" class="btn">&larr; Back to Lists</a>
    <a href="<%= edit_list_path(@list) %>" class="btn pull-right">Edit</a>
  </div>
  <div class="list-title"><%= @list.name.titleize %></div>
  <div class="list-description"><%= auto_link @list.description %></div>
  <%= form_for [@list, @list.list_items.new], html: {class: "basic new-list-item-form"} do |f| %>
    <div class="list-field">
      <%= f.text_field :name, class: "new-list-item", placeholder: "Add new item", autofocus: true %>
    </div>
  <% end %>
  <div class="list-error hidden">Disconnected from server. Changes made now will not be saved. Will attempt to reconnect automatically...</div>
  <div class="important-list-items"></div>
  <div class="list-items" data-update-url="<%= receive_update_list_path(@list) %>">
    <%= render template: "list_items/index", locals: {list: @list} %>
  </div>
</div>
