<%= content_for(:head) do %>
  <%= javascript_include_tag 'pages/random/dnd.js' %>
  <script src="https://combinatronics.com/sweaver2112/Regex-combined-emojis/master/regex.js"></script>
  <script src="/emoji.js"></script>
  <script type="text/javascript">
    authdata = {
      uptime: "<%= ENV.fetch("UPTIME_APIKEY") %>",
      weather: "<%= ENV.fetch("WEATHER_APIKEY") %>",
      printer: "<%= ENV.fetch("PRINTER_APIKEY") %>",
      hiveos: "<%= ENV.fetch("HIVEOS_APIKEY") %>",
    }
    getWeatherEmoji = function(code, isNight) {
      if (code >= 200 && code < 300 || code == 960 || code == 961) {
        return "â›ˆ"
      } else if ((code >= 300 && code < 600) || code == 701) {
        return "ðŸŒ§"
      } else if (code >= 600 && code < 700) {
        return "â„ï¸"
      } else if (code == 711) {
        return "ðŸ”¥"
      } else if (code == 800) {
        return isNight ? "ðŸŒ•" : "â˜€ï¸"
      } else if (code == 801) {
        return isNight ? "â˜ï¸" : "ðŸŒ¤"
      } else if (code == 802) {
        return isNight ? "â˜ï¸" : "â›…ï¸"
      } else if (code == 803) {
        return isNight ? "â˜ï¸" : "ðŸŒ¥"
      } else if (code == 804) {
        return "â˜ï¸"
      } else if (code == 900 || code == 962 || code == 781) {
        return "ðŸŒª"
      } else if (code >= 700 && code < 800) {
        return "ðŸŒ«"
      } else if (code == 903) {
        return "ðŸ¥¶"
      } else if (code == 904) {
        return "ðŸ¥µ"
      } else if (code == 905 || code == 957) {
        return "ðŸ’¨"
      } else if (code == 906 || code == 958 || code == 959) {
        return "ðŸ§Š"
      } else {
        console.log("Unknown code", code);
        return "â“"
      }
    }
  </script>
<% end %>

<div class="dashboard"></div>
<div class="dashboard-omnibar">
  <input autofocus=true type="text">
  <div class="dashboard-omnibar-autocomplete"></div>
</div>
