<%= content_for(:head) do %>
  <script type="text/javascript">
    window.Emoji = {}
    fetch("/emoji.json").then(function(res) {
      res.json().then(function(json) {
        window.Emoji = json
      })
    })
  </script>
<% end %>

<div class="dashboard no-markdown"></div>
<div class="dashboard-omnibar">
  <input autofocus=true type="text">
  <div class="dashboard-omnibar-autocomplete"></div>
</div>

<script type="text/javascript">
  (function load() {
    if (!window.jQuery) { return setTimeout(load, 50); }

    <% if Rails.env.development? %>
      Cell.loadConfig({
        // home: {},
        // github: {
        //   deploy_uuid: "<%= JarvisTask.anyfind("Deploying...")&.uuid %>"
        // },
        // broker_logger: { x: 2, y: 5, env: "<%= ENV["BROKERAUTH"] %>" },
        // jarvis: { w: 2 },
        // calendar: { h: 3 },
      })
    <% else %>
      Cell.loadConfig({
        fitness: { x: 1, y: 1 },
        recent: { x: 2, y: 1 },
        month: { x: 3, y: 1 },
        weather: {
          apikey: "<%= ENV.fetch("WEATHER_APIKEY") %>",
          x: 4,
          y: 1,
        },

        home: {
          x: 1, y: 2,
          google_api_url: "<%= GoogleNestControl.code_url %>",
        },
        tesla: { x: 2, y: 2 },
        uptime: {
          x: 3, y: 2,
          uptime_apikey: "<%= ENV.fetch("UPTIME_APIKEY") %>",
        },
        github: {
          x: 4, y: 2,
          deploy_uuid: "<%= JarvisTask.anyfind("Deploying...")&.uuid %>",
          github_apikey: "<%= ENV.fetch("GITHUB_APIKEY") %>"
        },

        calendar: { x: 1, y: 3, h: 3 },
        chores: { x: 2, y: 3 },
        notes: { x: 3, y: 3, w: 2 },

        todo: { x: 2, y: 4 },
        shopping: { x: 3, y: 4 },
        printer: {
          apikey: "<%= ENV.fetch("PRINTER_APIKEY") %>",
          x: 4,
          y: 4,
        },

        projects: { x: 2, y: 5 },
        "things to eat": { x: 3, y: 5 },
        upcoming: { x: 4, y: 5 },

        timers: { x: 1, y: 6 },
        brokerlogger: { x: 2, y: 6, apikey: "<%= ENV.fetch("BROKER_AUTH") %>" },
        jarvis: { x: 3, y: 6, w: 2 },
      })
    <% end %>
  })()
</script>
