<%= content_for(:head_before_scripts) do %>
  <script type="text/javascript">
    window.emojiPattern = undefined
  </script>
  <script src="https://combinatronics.com/sweaver2112/Regex-combined-emojis/master/regex.js"></script>
<% end %>
<%= content_for(:head) do %>
  <script type="text/javascript">
    window.Emoji = {}
    fetch("/emoji.json").then(function(res) {
      res.json().then(function(json) {
        window.Emoji = json
      })
    })
  </script>
<% end %>

<div class="dashboard no-markdown"></div>
<div class="dashboard-omnibar">
  <input autofocus=true type="text">
  <div class="dashboard-omnibar-autocomplete"></div>
</div>

<script type="text/javascript">
  (function load() {
    if (!window.jQuery) { return setTimeout(load, 50); }

    <% if Rails.env.development? %>
      Cell.loadConfig({
        todo: {},
        jarvis: { w: 2 },
        ping: {},
      })
    <% else %>
      Cell.loadConfig({
        fitness: { x: 1, y: 1 },
        recent: { x: 2, y: 1 },
        month: { x: 3, y: 1 },
        weather: {
          apikey: "<%= ENV.fetch("WEATHER_APIKEY") %>",
          x: 4,
          y: 1,
        },

        notes: { x: 1, y: 2, w: 2 },
        uptime: {
          x: 3, y: 2,
          uptime_apikey: "<%= ENV.fetch("UPTIME_APIKEY") %>",
          hiveos_apikey: "<%= ENV.fetch("HIVEOS_APIKEY") %>",
        },
        home: {
          x: 4, y: 2,
        },

        calendar: { x: 1, y: 3, h: 3 },
        reminders: { x: 2, y: 3 },
        github: {
          x: 3, y: 3,
          github_apikey: "<%= ENV.fetch("GITHUB_APIKEY") %>"
        },
        tesla: { x: 4, y: 3 },

        todo: { x: 2, y: 4 },
        grocery: { x: 3, y: 4 },
        printer: {
          apikey: "<%= ENV.fetch("PRINTER_APIKEY") %>",
          x: 4,
          y: 4,
        },

        timers: { x: 2, y: 5 },
        random: { x: 3, y: 5 },
        snake: { x: 4, y: 5 },

        breathe: { x: 1, y: 6 },
        ping: { x: 2, y: 6 },
        jarvis: { x: 3, y: 6, w: 2 },
      })
    <% end %>
  })()
</script>
