<%= content_for(:head) do %>
  <%= javascript_include_tag 'pages/random/dnd.js' %>
  <script src="https://combinatronics.com/sweaver2112/Regex-combined-emojis/master/regex.js"></script>
  <script src="/emoji.js"></script> <!-- Only needed because Rails minifier screws up raw emoji in JS -->
  <script type="text/javascript">
    authdata = {
      uptime: "<%= ENV.fetch("UPTIME_APIKEY") %>",
      weather: "<%= ENV.fetch("WEATHER_APIKEY") %>",
      printer: "<%= ENV.fetch("PRINTER_APIKEY") %>",
      hiveos: "<%= ENV.fetch("HIVEOS_APIKEY") %>",
    }
  </script>
<% end %>

<div class="dashboard"></div>
<div class="dashboard-omnibar">
  <input autofocus=true type="text">
  <div class="dashboard-omnibar-autocomplete"></div>
</div>
