<div class="split-container">
  <div class="tree lists-index-container">
    <div class="list-field">
      <%= text_field_tag "", "", class: "filter-tree", placeholder: "Search" %>
    </div>
    <div class="lists">
      <%# Accordion groups, search should filter by group %>
      <% TaskMap::TASKS.each do |task_group, group_items| %>
        <h3 data-group="<%= task_group %>"><%= task_group.to_s.titleize %></h3>
        <% group_items.each do |op, data| %>
          <div class="list-item-container" data-group="<%= task_group %>">
            <span class="list-item" data-type="<%= "#{task_group}.#{op}" %>" data="<%= ["#{task_group}.#{op}", data].to_json %>">
              <span class="item-name"><%= op.to_s.titleize %></span>
            </span>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="skinny-container lists-index-container">
    <div class="btn-container text-right">
      <%= form_for [:jil, @task], html: { class: "basic", id: "task-form" } do |f| %>
        <%= f.submit "Save", class: "btn save-task" %>
      <% end %>
    </div>
    <div class="lists-title">J.I.L.</div>
    <%= text_field_tag "task[name]", @task.name, class: "", placeholder: "Task Name" %>
    <div class="tasks lists" data-tasks="<%= @task.tasks.to_json %>"></div>
  </div>
</div>
