<% name = running_function? ? "Function" : "Task" %>
<%= meta_title "My #{name.pluralize}", include_name: false %>

<div class="skinny-container lists-index-container">
  <div class="btn-container">
    <a href="<%= account_path %>" class="btn">Account</a>
    <% if running_function? %>
      <a href="<%= new_jil_function_path %>" class="btn pull-right">New Function +</a>
    <% else %>
      <a href="<%= new_jil_jarvis_task_path %>" class="btn pull-right">New Task +</a>
    <% end %>
  </div>
  <div class="lists-title">My <%= name.pluralize %></div>
  <% if running_function? %>
    <%= link_to "Tasks", jil_path, class: "btn pull-right" %>
  <% else %>
    <%= link_to "Custom Functions", jil_functions_path, class: "btn pull-right" %>
  <% end %>
  <div class="lists">
    <div class="list-field">
      <%= text_field_tag "task[name]", "", class: "filterable", placeholder: "Search #{name.downcase}s" %>
    </div>
    <div class="important-list-items"></div>
    <% @tasks.each do |task| %>
      <div class="list-item-container" data-list-id="<%= task.id %>">
        <div class="list-item-config">
          <%= content_tag :div, task.humanized_schedule, class: "category" %>
        </div>
        <div class="list-item-handle"><i class="fa fa-ellipsis-v"></i></div>
        <% if running_function? %>
          <% url = edit_jil_function_path(task) %>
        <% else %>
          <% url = edit_jil_jarvis_task_path(task) %>
        <% end %>
        <a href="<%= url %>" class="list-item">
          <span class="item-name"><%= task.name.titleize %></span>
        </a>
        <% if task.cron? %>
          <div class="list-item-brief">
            Last: <%= task.last_trigger_at&.in_time_zone(current_user.timezone)&.to_formatted_s(:short_with_time) || "N/A" %>
            --
            Next: <%= task.next_trigger_at&.in_time_zone(current_user.timezone)&.to_formatted_s(:short_with_time) || "N/A" %>
            <% if task.next_trigger_at > Time.current %>
              (<%= distance_of_time_in_words(Time.current, task.next_trigger_at) + " from now" %>)
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
