<%= meta_title "My Tasks", include_name: false %>

<div class="skinny-container lists-index-container">
  <div class="btn-container">
    <a href="<%= account_path %>" class="btn">Account</a>
    <a href="<%= new_jil_jarvis_task_path %>" class="btn pull-right">New Task +</a>
  </div>
  <div class="lists-title">My Tasks</div>
  <div class="lists">
    <div class="list-field">
      <%= text_field_tag "task[name]", "", class: "filterable", placeholder: "Search tasks" %>
    </div>
    <div class="important-list-items"></div>
    <% @tasks.each do |task| %>
      <div class="list-item-container" data-list-id="<%= task.id %>">
        <div class="list-item-config">
          <%= content_tag :div, task.humanized_schedule, class: "category" %>
        </div>
        <div class="list-item-handle"><i class="fa fa-ellipsis-v"></i></div>
        <a href="<%= edit_jil_jarvis_task_path(task) %>" class="list-item">
          <span class="item-name"><%= task.name.titleize %></span>
        </a>
        <% if task.cron? %>
          <div class="list-item-brief">
            Last: <%= task.last_trigger_at.to_formatted_s(:short_with_time) %>
            --
            Next: <%= task.next_trigger_at.to_formatted_s(:short_with_time) %>
            <% if task.next_trigger_at > Time.current %>
              (<%= distance_of_time_in_words(Time.current, task.next_trigger_at) + " from now" %>)
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
