<% bowler ||= Bowler.new %>
<% bowler_params = "bowling_league[bowlers_attributes][]" %>

<div class="bowler-form">
  <i class="fa fa-times remove-bowler"></i>
  <%= hidden_field_tag "#{bowler_params}id", bowler.id, class: "bowler-id" %>
  <%= hidden_field_tag "#{bowler_params}position", bowler.position, class: "position" %>
  <%= hidden_field_tag "#{bowler_params}_destroy", false, class: "should-destroy" %>

  <div class="flex-fields">
    <div class="form-field flex-center bowler-handle">
      <i class="fa fa-arrows"></i>
    </div>
    <div class="form-field" style="width: 100%;">
      <%= label_tag "#{bowler_params}name", "Name" %>
      <%= text_field_tag "#{bowler_params}name", bowler.name %>
    </div>
    <div class="form-field">
      <%= label_tag "#{bowler_params}total_games_offset", "Games Offset" %>
      <%= text_field_tag "#{bowler_params}total_games_offset", bowler.total_games_offset %>
    </div>
    <div class="form-field">
      <%= label_tag "#{bowler_params}total_pins_offset", "Pins Offset" %>
      <%= text_field_tag "#{bowler_params}total_pins_offset", bowler.total_pins_offset %>
    </div>
  </div>
  <div class="flex-fields">
    <div class="form-field">
      <%= label_tag "#{bowler_params}usbc_number", "USBC Number" %>
      <%= text_field_tag "#{bowler_params}usbc_number", bowler.usbc_number %>
    </div>
    <div class="form-field">
      <%= label_tag "#{bowler_params}usbc_full_name", "USBC Full Name" %>
      <%= text_field_tag "#{bowler_params}usbc_full_name", bowler.usbc_full_name %>
    </div>
  </div>
  <div class="flex-fields">
    <small>High Game: <%= bowler.high_game || 0 %></small>
    <small>High Series: <%= bowler.high_series || 0 %></small>
    <small>Total Games: <%= bowler.total_games || 0 %></small>
    <small>Total Pins: <%= bowler.total_pins || 0 %></small>
    <small>Points: <%= bowler.total_points || 0 %></small>
  </div>
</div>
