<div class="task-row" data-type="task" data-id="<%= task.id %>" data-name="<%= task.name.downcase %>" data-status="<%= task.last_status || '' %>" data-last-run="<%= task.last_trigger_at&.to_i || 0 %>" data-next-run="<%= task.next_trigger_at&.to_i || 0 %>">
  <div class="col-handle">
    <% unless defined?(shared) && shared %>
      <span class="drag-handle"><i class="fa fa-ellipsis-v"></i></span>
    <% end %>
  </div>
  <div class="col-name">
    <a href="<%= jil_task_path(task) %>"><%= task.name %></a>
    <% if !task.enabled? %>
      <span class="badge badge-disabled">Disabled</span>
    <% end %>
    <% if defined?(shared) && shared %>
      <span class="badge badge-shared">Shared</span>
    <% end %>
  </div>
  <div class="col-trigger">
    <% if task.cron.present? %>
      <span class="trigger-cron"><%= task.cron %></span>
    <% end %>
    <% if task.cron.present? && task.listener.present? %>
      |
    <% end %>
    <% if task.listener.present? %>
      <span class="trigger-listener"><%= task.listener %></span>
    <% end %>
  </div>
  <div class="col-status">
    <% if task.last_status.present? %>
      <span class="status-badge <%= task.last_status %>"><%= task.last_status %></span>
    <% else %>
      <span class="status-badge none">--</span>
    <% end %>
  </div>
  <div class="col-time">
    <% if task.last_trigger_at.present? %>
      <%= task.last_trigger_at.in_time_zone(current_user.timezone)&.to_formatted_s(:compact_week_month_time).gsub(":00 ", " ") %>
      <div class="relative-time">(<%= relative_time_in_words(task.last_trigger_at) %>)</div>
    <% else %>
      --
    <% end %>
  </div>
  <div class="col-time">
    <% if task.next_trigger_at.present? %>
      <%= task.next_trigger_at.in_time_zone(current_user.timezone)&.to_formatted_s(:compact_week_month_time).gsub(":00 ", " ") %>
      <div class="relative-time">(<%= relative_time_in_words(task.next_trigger_at) %>)</div>
    <% else %>
      --
    <% end %>
  </div>
</div>
