<%= content_for(:title) { "Climbs" } %>

<div class="skinny-container">
  <div class="btn-container text-right">
    <%= form_for @climb, html: { class: "basic" } do |f| %>
      <div class="flex-fields">
        <%= f.submit "Save Climb", class: "btn" %>
        <% Time.use_zone(User.timezone) do %>
          <% f.object.timestamp ||= Time.current %>
          <%= f.datetime_local_field :timestamp %>
        <% end %>
        <%= f.hidden_field :data %>
      </div>
    <% end %>
  </div>
</div>

<div class="output">
  <% @climb.data&.split(" ")&.each do |go| %>
    <span score="<%= @climb.score_for(go) %>"><%= go %></span>
  <% end %>
</div>

<div class="full-score"><%= @climb.score %></div>

<div class="keypad-wrapper">
  <div class="keypad-entry">
    <% (0..10).each do |t| %>
      <div class="numpad-key" score="<%= @climb.score_for(t) %>"><%= t %></div>
    <% end %>
    <div class="numpad-key">&lt;&lt;</div>
  </div>
</div>
