<%= meta_title "Functions" %>
<%= meta_description "Input args, get results" %>

<div class="skinny-container">
  <%= form_for(@function) do |f| %>
    <div class="form-title">
      <%= @function.title || "Functions" %>
    </div>

    <div class="form-fields">
      <div class="form-field">
        <% if @function.persisted? %>
          <a href="<%= function_path(@function) %>" class="btn">&larr; Back</a>
        <% else %>
          <a href="<%= functions_path %>" class="btn">&larr; Functions</a>
        <% end %>
      </div>

      <div class="form-field">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>

      <div class="form-field">
        <%= f.label :description %>
        <%= f.text_field :description %>
      </div>

      <div class="form-field">
        <%= f.label :arguments do %>
          Arg names (comma separated)
          <%= f.text_area :arguments, class: :command %>
        <% end %>
      </div>

      <div class="form-field">
        <%= f.label :proposed_code do %>
          Function
          <%= f.text_area :proposed_code, class: :command, rows: [@function.proposed_code.count("\n") + 1, 10].max, placeholder: "puts arg[:x] + arg[:y]" %>
        <% end %>
      </div>

      <div class="form-submission">
        <%= f.submit %>
      </div>
    </div>
  <% end %>
</div>
