<%= meta_title "Functions" %>
<%= meta_description "Input args, get results" %>

<div class="skinny-container">
  <%= form_tag function_run_path(@function), class: "command-form" do %>
    <div class="form-title">
      <%= @function.title %>
    </div>

    <div class="form-fields">
      <div class="form-field">
        <a href="<%= functions_path %>" class="btn">&larr; Functions</a>
        <a href="<%= edit_function_path(@function) %>" class="btn pull-right">Edit</a>
      </div>

      <div class="flex-container">
        <% @function.split_args.each do |arg, default| %>
          <div class="flex-field flex-3">
            <label for="arg[<%= arg %>]"><%= arg %></label>
            <input type="text" name="arg[<%= arg %>]" value="<%= params[arg] || default %>">
          </div>
        <% end %>
      </div>

      <div class="form-field">
        <p><%= @function.description %></p>
      </div>

      <div class="form-submission">
        <%= submit_tag "Run!" %>
      </div>

      <div class="form-field">
        <h3>Results</h3>
        <hr>
        <textarea readonly name="results"  class="command" rows="10"></textarea>
      </div>

      <div class="form-field">
        <textarea readonly name="proposed_code" class="command" rows="<%= [@function.line_count + 1, 10].max %>"><%= @function.proposed_code %></textarea>
      </div>
    </div>
  <% end %>
</div>
