<%= meta_title @prompt.question, include_name: false %>
<%= meta_description @prompt.question  %>

<%= form_for @prompt, html: { class: "basic" } do |f| %>
  <div class="skinny-container lists-index-container">
  <div class="text-right"><%= link_to "Skip", @prompt, method: :delete, class: "btn danger" %></div>
    <div class="lists-title instructions"><%= @prompt.question %></div>
    <div class="list-items survey-questions">
      <% @prompt.options.presence&.each do |option| %>
        <% option = option.deep_symbolize_keys %>
        <% question = option[:question] %>
        <% default = option[:default] %>

        <% base_key = "prompt[response][#{question}]" %>
        <% if question.split(" | ").length == 2 %>
          <p class="centered-options">
            <% left, right = question.split(" | ") %>
            <span><%= left %></span>
            <span>|</span>
            <span><%= right %></span>
          </p>
        <% else %>
          <p class="text-center"><%= question %></p>
        <% end %>
        <% case option[:type].to_sym %>
        <% when :text %>
          <%= text_field_tag base_key, @prompt.response&.dig(question).presence || default, placeholder: default %>
        <% when :scale %>
          <%=
            content_tag(
              :input,
              nil,
              value: @prompt.response&.dig(question).presence || default || -1,
              type: :range,
              name: base_key,
              min: 0,
              max: option[:max],
              class: "list-item-range",
            )
          %>
        <% when :checkbox %>
          <div class="list-item-container">
            <%= hidden_field_tag base_key, false %>
            <%=
              content_tag :input, "", {
                type: :checkbox,
                id: base_key,
                name: base_key,
                value: true,
                class: "list-item-checkbox",
                checked: @prompt.response&.dig(question).then { |r| r.nil? ? default : r }  == "true",
              }
            %>
            <label for="<%= base_key %>" class="list-item">
              <div class="checkbox-wrapper"></div>
              <div class="item-name">
                <%= question %>
              </div>
            </label>
          </div>
        <% when :choices %>
          <% option[:choices].each_with_index do |option_text, idx| %>
            <% base_params = "#{base_key}[]" %>
            <% id = "#{base_params}#{idx}".gsub(/[^\w]/, "") %>
            <div class="list-item-container">
              <%=
                content_tag :input, "", {
                  type: :checkbox,
                  id: id,
                  name: base_params,
                  value: option_text,
                  class: "list-item-checkbox",
                  checked: @prompt.response&.dig(question)&.include?(option_text),
                }
              %>
              <label for="<%= id %>" class="list-item">
                <div class="checkbox-wrapper"></div>
                <div class="item-name">
                  <%= option_text %>
                </div>
              </label>
            </div>
          <% end %>
        <% else %>
          Unknown: <%= option[:type] %> (<%= option %>)
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="skinny-container">
    <div class="text-center">
      <%= f.submit "Submit", class: "wide" %>
      <br>
      <br>
      <br>
    </div>
  </div>
<% end %>
