<%= meta_title @prompt.question, include_name: false %>
<%= meta_description @prompt.question  %>

<%= form_for @prompt, html: { class: "basic" } do |f| %>
  <div class="skinny-container lists-index-container">
    <div class="lists-title instructions"><%= @prompt.question %></div>
    <div class="list-items survey-questions">
      <% @prompt.options&.each do |option_key, option_val| %>
        <% base_key = "prompt[response][#{option_key}]" %>
        <% if option_val.is_a?(Array) %>
          <% option_val.each_with_index do |option, idx| %>
            <% base_params = "#{base_key}[]" %>
            <% id = "#{base_params}#{idx}".gsub(/[^\w]/, "") %>
            <div class="list-item-container">
              <%=
                content_tag :input, "", {
                  type: "checkbox",
                  id: id,
                  name: "#{base_params}",
                  value: option,
                  class: "list-item-checkbox",
                  checked: @prompt.response&.dig(option_key)&.include?(option),
                }
              %>
              <label for="<%= id %>" class="list-item">
                <div class="checkbox-wrapper"></div>
                <div class="item-name">
                  <%= option %>
                </div>
              </label>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="skinny-container">
    <div class="text-center">
      <%= f.submit "Submit", class: "wide" %>
      <br>
      <br>
      <br>
    </div>
  </div>
<% end %>
