<%= meta_title @folder.name, include_name: false %>

<div class="skinny-container lists-index-container">
  <div class="btn-container">
    <% if user_signed_in? %>
      <%= link_to "Edit", [:edit, @folder], class: :btn %>
      <a href="<%= new_page_path(folder: @folder) %>" class="btn pull-right">New Page +</a>
      <span class="pull-right">&nbsp;</span>
      <a href="<%= new_folder_path(folder: @folder) %>" class="btn pull-right">New Folder +</a>
    <% else %>
      <a href="<%= login_path %>" class="btn">Sign In</a>
    <% end %>
  </div>
  <div class="breadcrumbs text-center">
    <%= link_to :root, :folders %>
    <% @folder.breadcrumbs.reverse.each do |parent, idx| %>
      &gt;
      <%= link_to parent.name, parent %>
    <% end %>
  </div>
  <div class="lists-title"><%= @folder.name %></div>
  <div class="lists">
    <div class="list-field">
      <%= text_field_tag "folder[name]", "", class: "filterable", placeholder: "Search" %>
    </div>
    <% @folder.folders.ordered.each do |folder| %>
      <div class="list-item-container" data-list-id="<%= folder.id %>">
        <a href="<%= folder_path(folder) %>" class="list-item">
          <i class="fa fa-folder"></i>
          <span class="item-name"><%= folder.name %></span>
        </a>
      </div>
    <% end %>
    <% @folder.pages.ordered.each do |page| %>
      <div class="list-item-container" data-list-id="<%= page.id %>">
        <a href="<%= page_path(page) %>" class="list-item">
          <i class="fa fa-file-text-o"></i>
          <span class="item-name"><%= page.name %></span>
        </a>
      </div>
    <% end %>
  </div>
</div>
