<div class="skinny-container">

  <%= form_for @user, url: login_path do |f| %>
    <%= f.hidden_field :invitation_token, value: @user.invitation_token || @invitation_token %>
    <div class="form-title">
      Login
    </div>

    <%= render partial: 'layouts/error_container', locals: { resource: @user } %>

    <% if guest_account? && current_user.account_has_data? %>
      <div class="form-fields">
        <div class="form-field">
          <p>We see you've made some changes as a guest! When you log in, we'll move all of your data into your account.</p>
          <p>If you would prefer to reset that data, <%= link_to "Log Out", logout_path, method: :destroy %> of the guest account first, then log in normally.</p>
        </div>
      </div>
    <% end %>

    <div class="form-fields">
      <div class="form-field">
        <%= f.label :username %>
        <%= f.text_field :username %>
      </div>
      <div class="form-field">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
    </div>

    <div class="form-submission">
      <%= f.submit "Login" %>
    </div>

    <div class="helpful-links">
      <a href="<%= register_path(@invitation_hash) %>">Don't have an account?</a>
    </div>
  <% end %>

</div>
