<div class="config-wrapper">
  <div class="config">
    <div class="btns">
      <a class="btn" href="<%= jil_tasks_path %>">All Tasks</a>
    </div>
    <br>

    <%= form_for @task, html: { id: "jil_task_form" } do |f| %>
      <%= f.hidden_field :uuid, disabled: true %>
      <%= f.text_field :name, placeholder: :Title %>
      <%= f.text_field :cron, placeholder: :Cron %>
      <%= f.text_field :listener, placeholder: :Listener %>

      <div class="btns">
        <div class="btn btn-run" href="<%= run_jil_task_path(@task.id || :new) %>">Run</div>
        <div class="btn btn-history disabled">History</div>
        <div class="btn btn-config" data-modal="#config-modal">Config</div>
        <div class="btn btn-save">Save</div>
      </div>
    <% end %>
  </div>
</div>

<div class="wrapper">
  <div id="reference-dropdown" class="hidden"><ul></ul></div>

  <div class="content-dropdown"><div class="reference"></div></div>
  <div class="statements"></div>
  <div class="content-dropdown below"><div class="reference"></div></div>
</div>

<div class="results">
  <span class="timestamp"><%= @task.last_completion_time %></span>
  <p class="error"><%= @task.last_error %></p>
  <p class="result"><%= @task.last_result %></p>
  <p class="output"><%= @task.last_output&.join("\n") %></p>
</div>

<template id="statement">
  <div id="new-statement" class="statement-wrapper">
    <div class="statement">
      <span class="obj-dup fa fa-copy" title="Click to Duplicate below"></span>
      <div class="obj-info">
        <span class="obj-varname" title="Click to rename"></span><span class="hidden obj-eq"> =</span>
        [<span class="obj-type"></span><span class="obj-refname hidden"></span><span class="obj-dot">.</span><span class="obj-method"></span>]
      </div>
      <div class="obj-actions">
        <i class="obj-errors fa fa-exclamation-triangle hidden" title=""></i>
        <i class="obj-delete fa fa-trash" title="Click to remove"></i>
      </div>
      <div class="handle"><i class="fa fa-ellipsis-v"></i></div>
      <span class="obj-inspect fa fa-eye-slash" title="Click to inspect at runtime"></span>
      <div class="obj-data">
        →<span class="obj-returntype"></span>
      </div>
      <div class="obj-args"></div>
      <div class="reference"></div>
    </div>
  </div>
</template>

<template id="content-dropdown">
  <div class="content-dropdown"><div class="reference"></div></div>
</template>

<script type="text/javascript">
  window.load_code = <%= raw @task.id.present? ? "String.raw`#{@task.code.gsub(/\`/, "\\\\`")}`" : "undefined" %>;
  window.load_schema = `<%= JilTask.schema(current_user) %>`
</script>
<%= javascript_include_tag "jil", type: "module", defer: true %>
