<div class="player hidden" data-timestamp="<%= @avatar.try(:timestamp) %>" data-location-x="<%= @avatar.try(:location_x) %>" data-location-y="<%= @avatar.try(:location_y) %>" data-id="<%= @avatar.try(:uuid) %>">
  <div class="character stand"><%= @character.to_html %></div>
  <div class="message-container hidden"><div class="message"></div></div>
  <div class="username-wrapper"><div class="username"><%= @avatar.username %></div></div>
</div>
