<% content_for :head do %>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <%= stylesheet_link_tag 'individual/little_world/character', media: 'all' %>
  <%= stylesheet_link_tag 'individual/little_world/character_builder', media: 'all' %>
<% end %>

<div class="character-form-wrapper">
  <%= render partial: "character_form" %>
  <%= link_to "Randomize", "", class: "btn random-clothes" %>
  <br>
  <%= link_to "Save", "", class: "btn save-btn#{ ' disabled' unless user_signed_in? }" %>
  <%= link_to "Load", "", class: "btn load-btn#{ ' disabled' unless user_signed_in? }" %>
  <% unless user_signed_in? %>
    <p>Changes made are automatically saved within your session. Please <a href="<%= login_path %>">sign in</a> or <a href="<%= register_path %>">create an account</a> to save your Avatar for use across all of your devices.</p>
  <% end %>
</div>

<div class="character-container">
  <div class="character-wrapper">
    <div class="character stand"><%= @character.to_html %></div>
  </div>
  <ul class="instructions">
    <li>Arrow keys to move/change direction</li>
    <li><strong>X</strong> - cancel all queued movements</li>
  </ul>
  <!-- <code class="json-placeholder"><p><%= JSON.generate(@character.to_json) %></p></code> -->
</div>
