<%= meta_title "Little World" %>
<%= meta_description "Explore the Little World with your character! Chat with friends, learn new skills, and have fun!" %>
<% content_for :head do %>
  <%= javascript_include_tag 'support/pathfinding.js' %>
  <%= stylesheet_link_tag 'individual/little_world/character', media: 'all' %>
  <%= stylesheet_link_tag 'individual/little_world/game', media: 'all' %>
  <%= stylesheet_link_tag 'individual/little_world/terrain', media: 'all' %>
<% end %>
<% content_for :viewport_tag do %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<% end %>

<!-- <div class="float-point"></div> -->
<div class="screen-log">
  <div>Player: <span class="player-coord"></span></div>
  <div>Mouse: <span class="block-coord"></span></div>
  <div class="message"></div>
</div>

<div class="connection-error-status"><p>Trouble connecting to server...</p></div>

<div class="open-chat-btn">
  <i class="fa fa-commenting-o"></i>
</div>
<div class="chat-box">
  <div class="messages-container hidden">
    <% if @avatar.nil? || @avatar.using_default_outfit? %>
      <%= render partial: "message", locals: {author: "Little World", message: "Welcome!", timestamp: 0} %>
      <%= render partial: "message", locals: {author: "Little World", message: "Visit #{character_builder_little_world_url} in order to customize your avatar!", timestamp: 0} %>
    <% else %>
      <%= render partial: "message", locals: {author: "Little World", message: "Welcome back!", timestamp: 0} %>
    <% end %>
  </div>
  <input type="text" name="message" class="chat-input hidden">
</div>

<div class="little-world-wrapper" data-save-location-url="<%= save_location_little_world_path %>" data-player-login-url="<%= player_login_little_world_path %>" data-chunk-url="<%= chunk_little_world_path %>">
  <%= render partial: "player" %>
  <div class="game">
    <%= @chunk %>
  </div>
</div>
