<% content_for :head do %>
  <%= javascript_include_tag 'support/pathfinding.js' %>
  <%= stylesheet_link_tag 'individual/little_world/character', media: 'all' %>
  <%= stylesheet_link_tag 'individual/little_world/game', media: 'all' %>
  <%= stylesheet_link_tag 'individual/little_world/terrain', media: 'all' %>
<% end %>
<% content_for :viewport_tag do %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<% end %>

<!-- <div class="float-point"></div> -->
<div class="screen-log">
  <div>Player: <span class="player-coord"></span></div>
  <div>Mouse: <span class="block-coord"></span></div>
  <div class="message"></div>
</div>

<div class="connection-error-status"><p>Trouble connecting to server...</p></div>

<div class="open-chat-btn">
  <i class="fa fa-commenting-o"></i>
</div>
<div class="chat-box">
  <div class="messages-container hidden">
    <%= render partial: "message", locals: {author: "Little World", message: "Currently logged in players (#{@logged_in_users.count}): #{@logged_in_users.map(&:username).join(', ')}", timestamp: 0} %>
    <%= render partial: "message", locals: {author: "Little World", message: Faker::Lorem.paragraph(rand(5)), timestamp: 0} %>
    <%= render partial: "message", locals: {author: "Little World", message: Faker::Lorem.paragraph(rand(5)), timestamp: 0} %>
    <%= render partial: "message", locals: {author: "Little World", message: Faker::Lorem.paragraph(rand(5)), timestamp: 0} %>
    <%= render partial: "message", locals: {author: "Little World", message: Faker::Lorem.paragraph(rand(5)), timestamp: 0} %>
    <%= render partial: "message", locals: {author: "Little World", message: Faker::Lorem.paragraph(rand(5)), timestamp: 0} %>
    <%= render partial: "message", locals: {author: "Little World", message: Faker::Lorem.paragraph(rand(5)), timestamp: 0} %>
    <%= render partial: "message", locals: {author: "Little World", message: Faker::Lorem.paragraph(rand(5)), timestamp: 0} %>
    <%= render partial: "message", locals: {author: "Little World", message: Faker::Lorem.paragraph(rand(5)), timestamp: 0} %>
    <%= render partial: "message", locals: {author: "Little World", message: Faker::Lorem.paragraph(rand(5)), timestamp: 0} %>
    <%= render partial: "message", locals: {author: "Little World", message: Faker::Lorem.paragraph(rand(5)), timestamp: 0} %>
    <%= render partial: "message", locals: {author: "Little World", message: Faker::Lorem.paragraph(rand(5)), timestamp: 0} %>
    <% if @avatar.nil? || @avatar.using_default_outfit? %>
      <%= render partial: "message", locals: {author: "Little World", message: "Welcome to Little World!", timestamp: 0} %>
      <%= render partial: "message", locals: {author: "Little World", message: "Please visit #{character_builder_little_world_url} in order to customize your avatar!", timestamp: 0} %>
    <% end %>
  </div>
  <input type="text" name="message" class="chat-input hidden">
</div>

<div class="little-world-wrapper" data-world-width="<%= @world.width %>" data-world-height="<%= @world.height %>" data-save-location-url="<%= save_location_little_world_path %>" data-player-login-url="<%= player_login_little_world_path %>" data-player-list-url="<%= player_list_little_world_path %>">
  <%= render partial: "player" %>
  <%= @world.to_html %>
</div>
