<% content_for :head do %>
  <%= javascript_include_tag 'support/pathfinding.js' %>
  <%= stylesheet_link_tag 'individual/little_world/character', media: 'all' %>
  <%= stylesheet_link_tag 'individual/little_world/game', media: 'all' %>
  <%= stylesheet_link_tag 'individual/little_world/terrain', media: 'all' %>
<% end %>

<!-- <div class="float-point"></div> -->
<div class="screen-log">
  <div>Player: <span class="player-coord"></span></div>
  <div>Mouse: <span class="block-coord"></span></div>
  <div class="message"></div>
</div>

<div class="little-world-wrapper" data-world-width="<%= @world.width %>" data-world-height="<%= @world.height %>">
  <div class="player">
    <div class="character stand"><%= @character.to_html %></div>
  </div>
  <%= @world.to_html %>
</div>
