<% content_for :head do %>
  <%= javascript_include_tag 'support/pathfinding.js' %>
  <%= stylesheet_link_tag 'individual/little_world/character', media: 'all' %>
  <%= stylesheet_link_tag 'individual/little_world/game', media: 'all' %>
  <%= stylesheet_link_tag 'individual/little_world/terrain', media: 'all' %>
<% end %>

<!-- <div class="float-point"></div> -->
<div class="screen-log">
  <div>Player: <span class="player-coord"></span></div>
  <div>Mouse: <span class="block-coord"></span></div>
  <div class="message"></div>
</div>

<div class="open-chat-btn">
  <i class="fa fa-commenting-o"></i>
</div>
<div class="chat-box hidden">
  <div class="messages-container"></div>
    <!-- <div class="message"><span class="author">Rockster160:</span> Hello, World</div> -->
  <input type="text" name="message" class="chat-input" autocomplete="off" autocorrect="off">
</div>

<div class="little-world-wrapper" data-world-width="<%= @world.width %>" data-world-height="<%= @world.height %>" data-save-location-url="<%= save_location_little_world_path %>" data-player-login-url="<%= player_login_little_world_path %>">
  <%= render partial: "player" %>
  <%= @world.to_html %>
</div>
