<div class="skinny-container">
  <div class="btn-container">
    <a href="<%= recipes_path %>" class="btn">&larr; All Recipes</a>
    <a href="<%= logout_path %>" class="btn pull-right">Logout</a>
  </div>
  <%= form_for @recipe do |f| %>
    <div class="form-title">New Recipe</div>

    <%= render partial: 'layouts/error_container', locals: { resource: @recipe } %>

    <div class="form-fields">

      <div class="form-field">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>

      <div class="form-field">
        <%= f.label :description %>
        <%= f.text_area :description %>
      </div>

      <div class="form-field">
        <%= f.label :kitchen_of %>
        <%= f.text_field :kitchen_of %>
      </div>

      <div class="form-field">
        <%= f.label :ingredients %>
        <%= f.text_area :ingredients %>
      </div>

      <div class="form-field">
        <%= f.label :instructions %>
        <%= f.text_area :instructions %>
      </div>

      <div class="form-field">
        <div class="checkbox-wrapper">
          <%= f.check_box :public %>
          <%= f.label :public do %>
            <div class="checkbox-placeholder"></div> Allow other users to see this recipe?
          <% end %>
        </div>
      </div>
    </div>

    <div class="form-submission">
      <%= f.submit %>
    </div>
  <% end %>
</div>
