<%= meta_title @task.name.presence || "Blank Task", include_name: false %>

<div class="skinny-container">
  <div class="btn-container">
    <%= link_to "â† Tasks", jil_cron_tasks_path, class: :btn %>
    <% if @task.persisted? %>
      <%= link_to :Delete, [:jil, @task], method: :delete, class: "btn danger pull-right", data: { confirm: "Are you sure? This cannot be undone." } %>
    <% end %>
  </div>
  <%= form_for [:jil, @task] do |f| %>
    <div class="form-title"><%= @task.persisted? ? :Edit : :New %> Task</div>

    <%= render partial: "layouts/error_container", locals: { resource: @task } %>

    <div class="form-fields">
      <div class="form-field">
        <%= f.label :name %>
        <%= f.text_field :name, autocomplete: false %>
      </div>
      <div class="form-field">
        <%= f.label :cron, "Cron (min hr day month wday)" %>
        <%= f.text_field :cron, autocomplete: false %>
      </div>
      <div class="form-field">
        <%= f.label :command %>
        <%= f.text_field :command, autocomplete: false %>
      </div>

      <div class="form-field">
        <div class="checkbox-wrapper">
          <%= f.check_box :enabled %>
          <%= f.label :enabled do %>
            <div class="checkbox-placeholder"></div>
            Enabled
          <% end %>
        </div>
      </div>
    </div>

    <div class="form-submission">
      <%= f.submit %>
    </div>
  <% end %>
</div>
