<% if is_read == true %>

  <%= link_to "Edit", flashcard_path(type: "edit", old: card), remote: true, class: "btn" %>
  <%= link_to "New", flashcard_path(type: "new", old: card), remote: true, class: "btn" %>
  <%= link_to "<", flashcard_path(type: "back", old: card), remote: true, class: "btn" %>
  <span id="id_number"><%= @card_num + 1 %></span>
  <%= link_to ">", flashcard_path(type: "next", old: card), remote: true, class: "btn" %>
  <div class="flashcard-container">
    <div id="flashCard" class="card">
      <div class="front face">
        <%= link_to "v^", "", remote: true, class: "btn flashcard-btn jsflip-btn", id: "flip-test" %>
        <div id="flashcard-title" class="flashcard-class flashcard-read-title" style="padding-top:4px;">
          <%= card.title %>
        </div>
        <% 8.times do |row| %>
          <div>
            <% if card.line[row][1] == "0" %>
              <div id="flashcard-line" class="flashcard-class" style="margin:2px 0;">
                <%= card.line[row][0] %>
              </div> <!-- flashcard-line -->
            <% else %>
              <div id="flashcard-line" class="flashcard-class center" style="margin:2px 0;">
                <%= card.line[row][0] %>
              </div> <!-- flashcard-line -->
            <% end %>
          </div> <!--  -->
        <% end %>
      </div> <!-- front -->
      <div class="back face">
        <%= link_to "v^", "", remote: true, class: "btn flashcard-btn jsflip-btn", id: "flip-test" %>
        <div class="back-body flashcard-class">
          <%= card.body %>
        </div>
      </div> <!-- back -->
    </div> <!-- flashCard -->
  </div> <!-- container -->

<% else %>

  <%= form_for(@card, url: flashcard_path, remote: true) do |f| %>
    <% if card.id == -1 %>
      <%= link_to "Save", "", remote: true, class: "btn btn-disabled" %>
      <%= link_to "Delete", "", remote: true, class: "btn btn-disabled" %>
    <% else %>
      <%#= f.submit "Save", class: "btn" %>
      <%= link_to "Save", flashcard_path(type: "save", old: card), remote: true, class: "btn" %>
      <%= link_to "Delete", flashcard_path(type: "delete", old: card), remote: true, class: "btn" %>
    <% end %>
    <div class="flashcard-container">
      <div id="flashCard" class="card">
        <div class="front face">
          <%= link_to "v^", "", remote: true, class: "btn flashcard-btn jsflip-btn", id: "flip-test" %>
          <%= f.text_field :title, id: "flashcard-title", class: "flashcard-class flashcard-edit-title", value: card.title %>
          <% @card.line.each do |line| %>
            <%#= f.text_field line %>
          <% end %>
          <% 8.times do |row| %>
            <div>
              <%= link_to "(c)", "", remote: true, class: "btn flashcard-btn center-btn" %>
              <% if card.line[row][1] == "0" %>
                <%= f.text_field @card.line[row][0], id: "flashcard-line", class: "flashcard-class", value: card.line[row][0] %>
              <% else %>
                <%= f.text_field @card.line[row][0], id: "flashcard-line", class: "flashcard-class center", value: card.line[row][0] %>
              <% end %>
            </div> <!--  -->
          <% end %>
        </div> <!-- front -->
        <div class="back face">
          <%= link_to "v^", "", remote: true, class: "btn flashcard-btn jsflip-btn", id: "flip-test" %>
          <div class="back-body flashcard-class">
            <%= f.text_area :body, id: "back-textbox-id", class: "back-textbox", rows: "12", cols: "48", placeholder: card.body %>
          </div>
        </div> <!-- back -->
      </div> <!-- flashCard -->
    </div> <!-- container -->
  <% end %>

<% end %>
