<% if @read_card == true %>
  <div id="flashcard-line" class="flashcard-line flashcard-class <%= row.center ? 'center' : '' %>" style="margin:2px 0;"><%= row.text %></div>
<% else %>
  <input type="text" id="flashcard-line" name="line[<%= pos %>]" class="flashcard-line flashcard-class <%= row.center ? 'center' : '' %>" style="margin:0px 0;" value="<%= row.text %>">
<% end %>
