<% content_for :head do %>
  <style media="screen">
    i {
      font-size: 128px;
    }
    .icon-wrapper {
      display: inline-block;
      width: 200px;
      text-align: center;
    }
    .icon-name {
      display: block;
      width: auto;
      overflow: auto;
      font-size: 12px;
    }
  </style>
<% end %>

<input type="text" autofocus="true" autocomplete="off" placeholder="Quick Search" class="emoji-quick-search">

<% JSON.parse(File.read("icons.json")).each do |icon, terms| %>
  <span class="icon-wrapper" data-searchable-by="<%= icon.sub(/^ti-/, "") %> <%= terms %>">
    <i title="<%= icon %>" class="ti <%= icon %>"></i>
    <span class="icon-name"><%= icon %></span>
  </span>
<% end %>

<% content_for :after_body do %>
  <script type="text/javascript">
    document.querySelector(".emoji-quick-search").addEventListener("input", function() {
      var search_text = this.value.toLowerCase().replace(/[ \_\-\:\@]/, "")

      document.querySelectorAll(".icon-wrapper").forEach(function(element) {
        var names = element.getAttribute("data-searchable-by").toLowerCase().trim().split(" ")

        var hasMatched = search_text.length === 0
        names.forEach(function(name) {
          if (hasMatched) { return }

          var searchableText = name, string_valid = true
          searchableText = searchableText.replace(/[ \_\-\:\@]/g, "")

          // Full word-based matching
          if (searchableText.indexOf(search_text) < 0) { string_valid = false }

          if (string_valid) { hasMatched = true }
        })

        if (hasMatched) {
          element.classList.remove("hidden")
        } else {
          element.classList.add("hidden")
        }
      })
    })
  </script>
<% end %>
