<%= meta_title "Playground" %>
<%= meta_description "Hub for all of my projects. Check them out!" %>
<% content_for :head_before_scripts do %>
  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=desert"></script>
<% end %>

<div class="skinny-container">
  <div class="app-card-container">
    <div class="app-card-title">
      Playground
    </div>
    <div class="app-card-body">
      <div class="app-card-inner">
        <a href="<%= lists_path %>" class="project-wrapper">
          <div class="json-btn" data-modal="#code-example-list">API</div>
          <%= render_modal "code-example-list", "Lists" do %>
            <p class="italics">This is an authenticated resource, so all requests made must include basic authentication, using your `username:password`, base64 encoded and passed along in the Authorization Header.</p>
            <p>`Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=`</p>
            <p>`curl` will automatically encode your username and password when passed with the `-u` option.</p>
            <hr>
            <p>The List API currently allows for requesting all lists belonging to the authenticated user, or a specific list. Lists can also be modified using an English-like string.</p>
            <h3>GET Index</h3>
            <%= raw pretty(:bash, "requests/lists/index.json") %>
            <%= raw pretty(:js, "response/lists/index.json") %>
            <h3>GET Show</h3>
            <%= raw pretty(:bash, "requests/lists/show.json") %>
            <%= raw pretty(:js, "response/lists/show.json") %>
            <h3>POST Update</h3>
            <p>Multiple items can be included in the same request by splitting names with commas.</p>
            <p>`add &lt;list of item names&gt;` is used for adding items to the list - does not return an error if one or more items already exist on the list.</p>
            <p>`remove &lt;list of item names&gt;` is used for removing items from the list - does not return an error if one or more items are not found.</p>
            <p>`clear` is used for removing all items from the list.</p>
            <%= raw pretty(:bash, "requests/lists/update.json") %>
            <%= raw pretty(:js, "response/lists/update.json") %>
          <% end %>
          <div class="project-title">Lists</div>
          <div class="project-description">
            <p>Create lists as a To-Do, grocery tracking, or any other reason.</p>
            <p>Share these lists with others for live-collaboration.</p>
            <p>Add, delete, and move list items from each of the lists easily.</p>
            <p>In order to save lists, you must first create an account so that you are able to view lists on multiple devices and keep your lists attached to you.</p>
          </div>
        </a>

        <a href="<%= recipes_path %>" class="project-wrapper">
          <div class="project-title">Recipes</div>
          <div class="project-description">
            <p>Save your recipes online and quickly export them to your shopping lists.</p>
          </div>
        </a>

        <a href="<%= colors_path %>" class="project-wrapper">
          <div class="json-btn" data-modal="#code-example-colors">API</div>
          <%= render_modal "code-example-colors", "Colors" do %>
            <p>The Colors endpoint allows you to request colors and an amount of steps between them to fade across.</p>
            <%= raw pretty(:bash, "requests/colors/index.json") %>
            <%= raw pretty(:js, "response/colors/index.json") %>
          <% end %>
          <div class="project-title">Colors</div>
          <div class="project-description">
            <p>Select 2 colors and fade between them to get a smooth transition or mid-way colors.</p>
          </div>
        </a>

        <a href="<%= random_path %>" class="project-wrapper">
          <div class="project-title">Random Number Generators</div>
          <div class="project-description">
            <p>Use dice notation, sets of data, or a preset to generate random numbers.</p>
          </div>
        </a>

        <a href="<%= gcode_splitter_index_path %>" class="project-wrapper">
          <div class="project-title">Gcode Splitter</div>
          <div class="project-description">
            <p>Generate a Gcode file from two previous files to add a command that allows you to pause and swap out the filament.</p>
          </div>
        </a>

        <a href="<%= anonicons_path %>" class="project-wrapper">
          <div class="json-btn" data-modal="#code-example-anonicon">API</div>
          <%= render_modal "code-example-anonicon", "Anonicons" do %>
            <p>Pass any string to generate an Identicon. This is commonly an IP Address or an email, but can be any string or value.</p>
            <p>The return is the binary for a PNG that is unique to the string passed.</p>
            <p>This can be used as a default image for newly signed up users to a website.</p>
            <%= raw pretty(:bash, "requests/anonicons/show.json") %>
            <pre class="preformat text-center"><%= image_tag "/anonicons/#{request.ip}", width: 100 %></pre>
          <% end %>
          <div class="project-title">Anonicon Generator</div>
          <div class="project-description">
            <p>Generate random user icons based on IP addresses, strings, or anything else!</p>
          </div>
        </a>

        <a href="<%= character_builder_little_world_path %>" class="project-wrapper">
          <div class="project-title">Character Builder</div>
          <div class="project-description">
            <p>Design a character for use in Little World.</p>
            <p>Character persists in your browser, but can also be saved to your account for use across devices.</p>
          </div>
        </a>

        <a href="<%= little_world_path %>" class="project-wrapper">
          <div class="project-title">Little World (Incomplete)</div>
          <div class="project-description">
            <p>Explore a small world with others. Slay monsters, collect coins, and chat with others that are playing!</p>
          </div>
        </a>

        <a href="<%= deck_cards_path %>" class="project-wrapper">
          <div class="project-title">Cards (Incomplete)</div>
          <div class="project-description">
            <p>Play around with a deck of cards. Deal, flip, and set rules for cards to follow to create any card game!</p>
          </div>
        </a>

        <!-- <a href="<%= cube_path %>" class="project-wrapper">
          <div class="project-title">Rubik's Cube (Incomplete)</div>
          <div class="project-description">
            <p>Shuffle and solve a Rubik's Cube!</p>
            <p>In the future, there are plans to create a solver where you may enter your own cube and have the solver fix it for you!</p>
          </div>
        </a> -->

        <a href="<%= maze_path %>" class="project-wrapper">
          <div class="json-btn" data-modal="#code-example-maze">API</div>
          <%= render_modal "code-example-maze", "Mazes" do %>
            <p>Generates an ASCII maze.</p>
            <%= raw pretty(:bash, "requests/maze/show.json") %>
            <%= raw pretty(:js, "response/maze/show.json") %>
          <% end %>
          <div class="project-title">Maze</div>
          <div class="project-description">
            Random maze generation for all of your maze-like needs!
          </div>
        </a>

        <a href="<%= summoners_war_path %>" class="project-wrapper">
          <div class="project-title">Summoner's War Calculator</div>
          <div class="project-description">
            <p>Summoner's War player?</p>
            <p>Use this calculator to see the effect your runes will have on the abilities of each of your monsters.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
