<div class="skinny-container">
  <div class="playground-container">
    <div class="playground-title">
      Playground
    </div>
    <div class="playground-body">
      <div class="playground-inner">
        <div class="clock-wrapper" style="height: 150px; text-align: center;">
          <canvas id="clocks" class="no-zoom" width="235" height="120"></canvas>
        </div>
        <a href="<%= lists_path %>" class="project-wrapper">
          <div class="project-title">List</div>
          <div class="project-description">
            <p>Create lists as a To-Do, grocery tracking, or any other reason.</p>
            <p>Share these lists with others for live-collaboration.</p>
            <p>Add, delete, and move list items from each of the lists easily.</p>
            <p>In order to save lists, you must first create an account so that you are able to view lists on multiple devices and keep your lists attached to you.</p>
          </div>
        </a>
        <a href="<%= colors_path %>" class="project-wrapper">
          <div class="project-title">Colors</div>
          <div class="project-description">
            <p>Select 2 colors and fade between them to get a smooth transition or mid-way colors.</p>
          </div>
        </a>
        <a href="<%= anonicons_path %>" class="project-wrapper">
          <div class="project-title">Anonicon Generator</div>
          <div class="project-description">
            <p>Generate random user icons based on IP addresses, strings, or anything else!</p>
          </div>
        </a>
        <a href="<%= little_world_path %>" class="project-wrapper">
          <div class="project-title">Little World (Incomplete)</div>
          <div class="project-description">
            <p>Explore a small world with others. Slay monsters, collect coins, and chat with others that are playing!</p>
          </div>
        </a>
        <a href="<%= deck_cards_path %>" class="project-wrapper">
          <div class="project-title">Cards (Incomplete)</div>
          <div class="project-description">
            <p>Play around with a deck of cards. Deal, flip, and set rules for cards to follow to create any card game!</p>
          </div>
        </a>
        <a href="<%= cube_path %>" class="project-wrapper">
          <div class="project-title">Rubik's Cube (Incomplete)</div>
          <div class="project-description">
            <p>Shuffle and solve a Rubik's Cube!</p>
            <p>In the future, there are plans to create a solver where you may enter your own cube and have the solver fix it for you!</p>
          </div>
        </a>
        <a href="<%= mazes_path %>" class="project-wrapper">
          <div class="project-title">Maze</div>
          <div class="project-description">
            Random maze generation for all of your maze-like needs!
          </div>
        </a>
        <a href="<%= summoners_war_path %>" class="project-wrapper">
          <div class="project-title">Summoner's War Calculator</div>
          <div class="project-description">
            <p>Summoner's War player?</p>
            <p>Use this calculator to see the effect your runes will have on the abilities of each of your monsters.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
