<%= meta_title "Random Generation" %>
<%= meta_description "Generate random numbers" %>
<% content_for :head do %>
  <%= javascript_include_tag 'pages/random/dnd.js' %>
<% end %>

<div class="skinny-container">

  <%= form_tag "", id: "random-generation-form" do |f| %>
    <div class="form-title">
      Random
    </div>

    <div class="presets">
      <div class="preset" data-fill-random-preset="d6">
        Roll a Dice
      </div>
      <div class="preset" data-fill-random-preset="Heads|Tails">
        Flip a Coin
      </div>
      <div class="preset" data-fill-random-preset="2♦|2♥|2♠|2♣|3♦|3♥|3♠|3♣|4♦|4♥|4♠|4♣|5♦|5♥|5♠|5♣|6♦|6♥|6♠|6♣|7♦|7♥|7♠|7♣|8♦|8♥|8♠|8♣|9♦|9♥|9♠|9♣|T♦|T♥|T♠|T♣|J♦|J♥|J♠|J♣|Q♦|Q♥|Q♠|Q♣|K♦|K♥|K♠|K♣|A♦|A♥|A♠|A♣">
        Draw a Card
      </div>
      <div class="preset" data-fill-random-preset="It is certain.|It is decidedly so.|Without a doubt.|Yes - definitely.|You may rely on it.|As I see it, yes.|Most likely.|Outlook good.|Yes.|Signs point to yes.|Reply hazy, try again.|Ask again later.|Better not tell you now.|Cannot predict now.|Concentrate and ask again.|Don't count on it.|My reply is no.|My sources say no.|Outlook not so good.|Very doubtful.">
        Magic 8-Ball
      </div>
      <div class="presets small">
        <div class="preset" data-fill-random-preset="d4">
          4 Sided Die
        </div>
        <div class="preset" data-fill-random-preset="d8">
          8 Sided Die
        </div>
        <div class="preset" data-fill-random-preset="d10">
          10 Sided Die
        </div>
        <div class="preset" data-fill-random-preset="d12">
          12 Sided Die
        </div>
        <div class="preset" data-fill-random-preset="d20">
          20 Sided Die
        </div>
        <div class="preset" data-fill-random-preset="d%">
          100 Sided Die
        </div>
      </div>
    </div>

    <div class="form-container results-wrapper">
      <h3>Results</h3>
      <hr>
      <div class="result"></div>
    </div>

    <div class="form-fields">
      <div class="form-field">
        <%= label_tag :random_number do %>
          Enter <a href="" data-modal="#dnd-howto">Dice Notation</a> or paste in a <a href="" data-modal="#set-howto">set of data</a> to select from
        <% end %>
        <%= text_area_tag :random_number, "d", autocomplete: :off %>
      </div>
    </div>

    <div class="form-submission">
      <a href="" class="btn submit">Roll!</a>
      <a href="" class="btn graph">Graph</a>
    </div>

    <div class="form-container results-wrapper">
      <h3>Details</h3>
      <hr>
      <code class="description"></code>
    </div>

    <div class="form-container history-wrapper">
      <h3>History</h3>
      <hr>
      <div class="history">
        <table></table>
      </div>
    </div>
  <% end %>

</div>

<%= render_modal("set-howto", "Custom Set") do %>
  <p>Select an object from a set by typing (or pasting) a list of objects to select from.</p>
  <p>Objects are split using precedence of a new line (Enter key), `|`, and `,`</p>
  <p>Example: <br>
  `Heads | Tails` will "flip a coin" and randomly select one of the options provided.
  </p>
<% end %>

<%= render_modal("dnd-howto", "What is Dice Notation?") do %>
  <p>In the examples below, `#` is replaced by any number.</p>
  <p>Notation is not case sensitive.</p>
  <p>Multiple dice can be rolled at once, and additional arithmetic can be applied.</p>
  <table class="instruction-table">
    <tr>
      <td>`d`</td>
      <td>used to simulate the roll of virtual dice.</td>
    </tr>
    <tr>
      <td>`#d`</td>
      <td>Roll the dice "n" times. (Default 1)</td>
    </tr>
    <tr>
      <td>`d#`</td>
      <td>Roll a dice with "n" sides. (Default 6)</td>
    </tr>
    <tr>
      <td>`d%`</td>
      <td>Roll a dice with 100 sides. (Shortcut for `d100`)</td>
    </tr>
    <tr>
      <td>`d!`</td>
      <td>Roll an additional time if the highest value is rolled (6 for a 6 sided die)</td>
    </tr>
    <tr>
      <td>`d!#`</td>
      <td>Roll an additional time if "n" is rolled (Default 1)</td>
    </tr>
    <tr>
      <td>`d+!#`</td>
      <td>Roll an additional time if the roll is equal or greater than "n"</td>
    </tr>
    <tr>
      <td>`d-!#`</td>
      <td>Roll an additional time if the roll is equal or less than "n"</td>
    </tr>
    <tr>
      <td>`dL`</td>
      <td>Drop the lowest result. (Used when rolling one die multiple times)</td>
    </tr>
    <tr>
      <td>`dL#`</td>
      <td>Drop the lowest result "n" times.</td>
    </tr>
    <tr>
      <td>`dH`</td>
      <td>Drop the highest result. (Used when rolling one die multiple times)</td>
    </tr>
    <tr>
      <td>`dH#`</td>
      <td>Drop the highest result "n" times.</td>
    </tr>
    <tr>
      <td>`dK`</td>
      <td>Drop the highest result. (Used when rolling one die multiple times)</td>
    </tr>
    <tr>
      <td>`dK#`</td>
      <td>Drop the highest result "n" times.</td>
    </tr>
    <tr>
      <td>`d-L`</td>
      <td>Drop all results equal to the lowest dice value (1)</td>
    </tr>
    <tr>
      <td>`d-L#`</td>
      <td>Drop all results equal to or less than "n"</td>
    </tr>
    <tr>
      <td>`d-H`</td>
      <td>Drop all results equal to the highest dice value (6 for a 6 sided die)</td>
    </tr>
    <tr>
      <td>`d-H#`</td>
      <td>Drop all results equal to or greater than "n"</td>
    </tr>
  </table>
  <p>Example: <br>
  `4d6 + 10` => Roll a 6 sided dice 4 times, add them all together and add 10 to the final result.</p>
<% end %>
