<%= content_for(:body_classes) { session[:color_scheme] || "black" } %>

<div class="skinny-container">
  <div class="btn-container">
    <% if params[:list_id].present? %>
      <a href="<%= list_user_lists_path(params[:list_id]) %>" class="btn">&larr; Back to List</a>
    <% else %>
      <a href="<%= lists_path %>" class="btn">&larr; Back to Lists</a>
    <% end %>
  </div>
  <%= form_for @user do |f| %>
    <%= hidden_field_tag :list_id, params[:list_id] %>
    <div class="form-title">
      Invite User
    </div>

    <%= render partial: 'layouts/error_container', locals: { resource: @user } %>

    <div class="form-fields">
      <p class="text-center">Enter Username or Phone Number to invite a user.</p>
      <div class="split-fields">
        <div class="form-field">
          <%= f.label :phone %>
          <%= f.telephone_field :phone %>
        </div>
        <div class="form-field">
          <%= f.label :username %>
          <%= f.text_field :username %>
        </div>
      </div>
    </div>

    <div class="form-submission">
      <%= f.submit "Invite" %>
    </div>
  <% end %>
</div>
