<div class="skinny-container lists-index-container">
  <div class="btn-container">
    <% if params[:list_id].present? %>
      <a href="<%= list_user_lists_path(params[:list_id]) %>" class="btn">&larr; Back to List</a>
    <% else %>
      <a href="<%= lists_path %>" class="btn">&larr; All Lists</a>
    <% end %>
  </div>

  <div class="form-title">
    Invite User
  </div>

  <% if @friends&.any? %>
    <div class="form-fields">
      <p class="text-center">Select a friend to invite:</p>
      <div class="lists">
        <% @friends.each do |contact| %>
          <%= form_tag users_path, method: :post, style: "margin: 0;" do %>
            <%= hidden_field_tag :list_id, params[:list_id] %>
            <%= hidden_field_tag "user[username]", contact.username %>
            <button type="submit" class="list-item-container" style="width: 100%; text-align: left; background: none; border: none; cursor: pointer; padding: 0;">
              <div class="list-item">
                <%= contact.name %><% if contact.username %> <span style="opacity: 0.5;">(<%= contact.username %>)</span><% end %>
              </div>
            </button>
          <% end %>
        <% end %>
      </div>
    </div>
    <hr style="margin: 20px 0;">
  <% end %>

  <%= form_for @user do |f| %>
    <%= hidden_field_tag :list_id, params[:list_id] %>

    <%= render partial: 'layouts/error_container', locals: { resource: @user } %>

    <div class="form-fields">
      <p class="text-center">Or enter Username or Phone Number to invite a user.</p>
      <div class="split-fields">
        <div class="form-field">
          <%= f.label :phone %>
          <%= f.telephone_field :phone %>
        </div>
        <div class="form-field">
          <%= f.label :username %>
          <%= f.text_field :username %>
        </div>
      </div>
    </div>

    <div class="form-submission">
      <%= f.submit "Invite" %>
    </div>
  <% end %>
</div>
