<div class="wide-container">
  <%= form_with(model: @meal_builder, local: true) do |form| %>
    <div class="form-title">
      <% if @meal_builder.new_record? %>
        New Meal Builder
      <% else %>
        Edit Meal Builder
        <%= link_to "Destroy", meal_builder_path(@meal_builder), method: :delete, class: "btn danger pull-right", data: { confirm: "Are you sure? This cannot be undone." } %>
      <% end %>
    </div>

    <%= render partial: "layouts/error_container", locals: { resource: @meal_builder } %>

    <div class="form-fields">
      <div class="form-field">
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>

      <div class="form-field">
        <%= form.label :items, "Items" %>
        <%= form.text_area :items, rows: [@meal_builder.items.length, 5].max, value: @meal_builder.listify_items %>
        <small>Enter items in rows like "Food Scrambled Eggs (100) 🥚"</small>
      </div>
    </div>

    <div class="form-submission">
      <%= form.submit %>
    </div>
  <% end %>
</div>
