<% content_for(:head) do %>
  <link rel="manifest" href="/jarvis.webmanifest">
<% end %>

<% content_for(:favicon) do %>
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#00102B">
  <link rel="shortcut icon" href="/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#00102B">
  <meta name="msapplication-config" content="/favicon/browserconfig.xml">
  <meta name="theme-color" content="#00102B">
<% end %>

<div class="widget-wrapper main-wrapper" data-update-url="<%= jarvis_page_path %>" data-widget-url="<%= render_widget_jarvis_page_path %>">
  <% @page.blocks.each do |widget_data| %>
    <% next if widget_data[:type].blank? %>
    <%= render partial: widget_data[:type], locals: { widget_data: widget_data } %>
  <% end %>
</div>

<div class="settings">
  <a href="#" class="btn" data-mode="add">Add</a>
  <a href="#" class="btn" data-mode="move">Move</a>
  <a href="#" class="btn" data-mode="delete">Delete</a>
</div>

<% content_for :modals do %>
  <div class="modal widget-form-modal" id="widget-form" tabindex="-1">
    <div class="close"><i class="ti ti-fa-close"></i></div>
    <div class="modal-content">
      <form class="basic widget-form">
        <label for="widget-type">*Type</label>
        <select name="type" id="widget-type" required=true>
          <option value="buttons">Buttons</option>
          <option value="command">Command</option>
          <option value="page">Open Page</option>
          <option value="monitor">JIL Task</option>
          <option value="jarvis">Text Jarvis</option>
        </select>

        <div data-watches-selector="#widget-type" data-watches-value="!monitor">
          <label for="title">*Title</label>
          <input type="text" name="title" id="title" required=true>

          <label for="subtitle">SubTitle</label>
          <input type="text" name="subtitle" id="subtitle" value="">
        </div>

        <div data-watches-selector="#widget-type" data-watches-value="command">
          <label for="command">*Command</label>
          <input type="text" name="command" id="command" required=true>
        </div>

        <div data-watches-selector="#widget-type" data-watches-value="page">
          <label for="page">*URL</label>
          <input type="text" name="page" id="page" required=true>
        </div>

        <div data-watches-selector="#widget-type" data-watches-value="monitor">
          <label for="task-id">*Task ID</label>
          <input type="text" autocomplete="false" name="task-id" id="task-id" required=true>

          <label class="switch">
            <%= check_box_tag "task-text-wrap", true, true %>
            <span class="slider"></span>
          </label>
          <label for="task-text-wrap">Text Wrap</label> <br>

          <label class="switch">
            <%= check_box_tag "task-center-text", true, true %>
            <span class="slider"></span>
          </label>
          <label for="task-center-text">Center Text</label> <br>

          <label class="switch">
            <%= check_box_tag "task-vert-center", true, true %>
            <span class="slider"></span>
          </label>
          <label for="task-vert-center">Vert Center Text</label> <br>
        </div>

        <input type="submit" name="submit" value="Add">
      </form>
    </div>
  </div>
<% end %>
