<% obj ||= { type: :section, object: section, items: section.items } %>
<% section = obj[:object] %>

<div class="list-section-tab" data-sort-order="<%= section.sort_order %>" data-section-id="<%= section.id %>" style="background: <%= section.color %>; color: <%= section.contrast_color %>;">
  <div class="section-header">
    <div class="list-item-handle"><i class="fa fa-ellipsis-v"></i></div>
    <span class="section-name"><%= section.name %></span>
    <a href="<%= edit_list_section_path(list, section) %>" class="settings-btn"><i class="fa fa-cog"></i></a>
  </div>

  <div class="section-items">
    <% obj[:items].each do |item| %>
      <%= render template: "list_items/show", locals: { list: list, item: item, section: section }, layout: false %>
    <% end %>
  </div>
</div>
