<%= content_for(:title) do %>
  <% if @league.persisted? %>
    Edit <%= @league.name %>
  <% else %>
    New League
  <% end %>
<% end %>

<div class="skinny-container">
  <div class="btn-container">
    <a href="<%= bowling_games_path %>" class="btn">&larr; Back</a>
    <% if @league.persisted? %>
      <%= link_to "Delete League", bowling_league_path(@league), class: "btn pull-right danger", method: :delete, data: { confirm: "Are you sure you want to delete this league? This will permanently delete all games, bowlers, and scores under this league." } %>
    <% end %>
  </div>
  <%= form_for @league do |f| %>
    <div class="form-title"><%= @league.name || "New League" %></div>

    <%= render partial: "layouts/error_container", locals: { resource: @league } %>

    <div class="form-fields">
      <div class="form-field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="form-field">
        <%= f.label :team_name %>
        <%= f.text_field :team_name %>
      </div>

      <div class="form-field">
        <%= f.label :handicap_calculation %>
        <%= f.text_field :handicap_calculation %>
      </div>

      <div class="form-field">
        <%= f.label :absent_calculation %>
        <%= f.text_field :absent_calculation %>
      </div>

      <div class="form-field">
        <%= f.label :games_per_series %>
        <%= f.text_field :games_per_series %>
      </div>

      <div class="form-field">
        <%= f.label :team_size %>
        <%= f.text_field :team_size %>
      </div>

      <div class="league-roster">
        <% @league.bowlers.ordered.each do |bowler| %>
          <%= render partial: "bowling/bowlers/form", locals: { bowler: bowler } %>
        <% end %>
      </div>

      <div class="form-field text-right">
        <div class="btn add-bowler">Add Bowler +</div>
      </div>
    </div>

    <template id="bowler-template">
      <%= render partial: "bowling/bowlers/form" %>
    </template>

    <div class="form-submission">
      <%= f.submit %>
    </div>
  <% end %>
</div>
