<%= link_to "â† All Leagues", bowling_games_path, class: :btn %>
<%= link_to "New Series", new_bowling_game_path(league: @league), class: "btn" %>
<%= link_to "Edit League", edit_bowling_league_path(@league), class: "btn pull-right" %>

<h3><%= @league.team_name %></h3>

<%= render partial: "show", locals: { league: @league } %>

<% @league.sets.order(created_at: :desc).each do |set| %>
  <%= render partial: "bowling/bowling_sets/show", locals: { set: set, show_links: true } %>
<% end %>
