<%= content_for(:title) { "Too Many Stats - #{@league.name}" } %>

<%= link_to "â† Back to League", bowling_league_path(@league), class: :btn %>

<h3><%= @league.team_name %></h3>

<%= render partial: "show", locals: { league: @league } %>

<table>
  <tr class="line-bot">
    <td>Name</td>
    <td>+2</td>
    <td>+1</td>
    <td>-1</td>
    <td>-2</td>
    <td>AVG</td>
    <td></td>
    <td></td>
  </tr>
  <% @league.bowlers.ordered.each do |bowler| %>
    <tr class="league-bowler" data-gms-per-series="<%= @league.games_per_series %>" data-gms="<%= bowler.total_games %>" data-pins="<%= bowler.total_pins %>">
      <td><%= bowler.name %></td>
      <% [2, 1, -1, -2].each do |diff| %>
        <% new_series = @league.avg_change_over_series(bowler, diff) %>
        <% avg_game = new_series / @league.games_per_series.to_f %>
        <% avg_game += 1 if avg_game.modulo(1) > 1 / @league.games_per_series.to_f %>
        <td class="text-right"><%= avg_game.round %>/<%= new_series %></td>
      <% end %>
      <td class="text-right"><%= bowler.average %></td>
      <td class="text-right">
        <input type="text" class="text-right basic quick-avg-check" style="width: 50px;">
      </td>
      <td class="text-right quick-avg-out"></td>
    </tr>
  <% end %>
</table>

<% @stats.except(:"Splits Converted").each do |stat, data| %>
  <h3><%= stat %></h3>
  <table>
    <% data.each do |row| %>
      <tr>
        <% row.each do |item| %>
          <td><%= item %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>

<h3>Splits Converted</h3>
<% @stats[:"Splits Converted"].each_with_index do |bowler_data, idx| %>
  <% if idx != 0 %>
    <hr>
  <% end %>
  <table>
    <tr>
      <td><%= bowler_data[0] %></td>
      <td>
        <% bowler_data[1..].each do |split_data| %>
          <div class="pin-stat-wrapper">
            <div class="mini-pin-chart">
              <%= render partial: "bowling/bowling_games/pin_chart", locals: { dot: true, prev: (1..10).to_a - split_data[:pins] } %>
            </div>
            <span><%= split_data[:picked] %> / <%= split_data[:total] %></span> <br>
            <span><%= split_data[:ratio] %></span>
          </div>
        <% end %>
      </td>
    </tr>
  </table>
<% end %>
<!--
<table>
  <tr>
    <td>Zoro</td>
    <td>50%</td>
    <td>3/6</td>
    <td>
      <%= link_to "See it", "" %> <br>
      <%= link_to "See it", "" %> <br>
      <%= link_to "See it", "" %> <br>
      <%= link_to "See it", "" %> <br>
    </td>
  </tr>
</table> -->
