<%= link_to "â† Back to League", bowling_league_path(@league), class: :btn %>

<h3><%= @league.team_name %></h3>

<%= render partial: "show", locals: { league: @league } %>

<% @stats.each do |stat, data| %>
  <h3><%= stat %></h3>
  <table>
    <% data.each do |row| %>
      <tr>
        <% row.each do |item| %>
          <td><%= item %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
<!--
<table>
  <tr>
    <td>Zoro</td>
    <td>50%</td>
    <td>3/6</td>
    <td>
      <%= link_to "See it", "" %> <br>
      <%= link_to "See it", "" %> <br>
      <%= link_to "See it", "" %> <br>
      <%= link_to "See it", "" %> <br>
    </td>
  </tr>
</table> -->
