<div class="skinny-container">
  <div class="btn-container">
    <%= link_to "Cancel", @page, class: :btn %>
    <a data-clickit="input[type=submit]" class="btn pull-right">Save</a>
  </div>
  <% if @page.persisted? %>
    <div class="text-center">
      <%= link_to "Delete", @page, class: "btn danger", method: :delete, data: { confirm: "Are you sure? This cannot be undone." } %>
    </div>
  <% end %>
  <%= form_for @page do |f| %>
    <div class="form-title"><%= @page.persisted? ? :Edit : :New %> Page</div>

    <%= render partial: "layouts/error_container", locals: { resource: @page } %>

    <%= f.hidden_field :folder_id, value: params[:folder] if params.key?(:folder) %>
    <div class="form-fields">
      <div class="form-field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="form-field">
        <%= f.label :tag_strings, "Tags (Comma separated)" %>
        <%= f.text_field :tag_strings %>
      </div>

      <div class="form-field">
        <%= f.label :content %>
        <%= f.text_area :content, rows: @page.content&.count("\n").to_i.then { |n| n.positive? ? n : 20 } %>
      </div>
    </div>

    <div class="form-submission">
      <%= f.submit %>
    </div>
  <% end %>
</div>
