<%= meta_title @page.name, include_name: false %>

<div class="wide-container">
  <div class="btn-container">
    <%= link_to "Back", @page.folder || :folders, class: :btn %>
    <%= link_to "Edit", [:edit, @page], class: "btn pull-right" %>
  </div>
  <div class="breadcrumbs text-center">
    <%= link_to :root, :folders %>
    <% @page.breadcrumbs.reverse.each do |parent, idx| %>
      &gt;
      <%= link_to parent.name, parent %>
    <% end %>
  </div>
  <h1 style="text-align: center;"><%= @page.name %></h1>
  <div class="tag-list">
    <% @page.tags.each do |tag| %>
      <span class="tag"><%= tag.name %></span>
    <% end %>
  </div>
  <hr>
  <%= Markdown.new(@page.content, user: current_user).to_html %>
</div>
