<%= meta_title @page.name, include_name: false %>

<div class="wide-container">
  <div class="btn-container">
    <%= link_to "Back", @page.folder || :folders, class: :btn %>
    <%= link_to "Edit", [:edit, @page], class: "btn pull-right" %>
    <%= button_to @page.shared? ? "Unshare" : "Share", toggle_sharing_page_path(@page), class: "btn pull-right", style: "margin-right: 5px;" %>
  </div>
  <% if @page.shared? %>
    <div class="text-center" style="margin-bottom: 10px;">
      <input type="text" id="share-link" value="<%= shared_page_url(token: @page.share_token) %>" readonly style="width: 80%; text-align: center;" onclick="this.select(); document.execCommand('copy');">
    </div>
  <% end %>
  <div class="breadcrumbs text-center">
    <%= link_to :root, :folders %>
    <% @page.breadcrumbs.reverse.each do |parent, idx| %>
      &gt;
      <%= link_to parent.name, parent %>
    <% end %>
  </div>
  <h1 style="text-align: center;"><%= @page.name %></h1>
  <div class="tag-list">
    <% @page.tags.each do |tag| %>
      <span class="tag"><%= tag.name %></span>
    <% end %>
  </div>
  <hr>
  <%= Markdown.new(@page.content, user: current_user).to_html %>
</div>
