<div class="skinny-container">
  <div class="btn-container">
    <a href="<%= contacts_path %>" class="btn">&larr; All Contacts</a>
    <% if @contact.persisted? %>
      <%= link_to :Delete, @contact, method: :delete, class: "btn danger pull-right" %>
    <% end %>
  </div>
  <%= form_for @contact do |f| %>
    <div class="form-title"><%= @contact.persisted? ? :Edit : :New %> Contact</div>

    <%= render partial: "layouts/error_container", locals: { resource: @contact } %>

    <div class="form-fields">
      <div class="form-field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="form-field">
        <%= f.label :nickname %>
        <%= f.text_field :nickname %>
      </div>

      <div class="form-field">
        <%= f.label :username %>
        <%= f.text_field :username %>
      </div>

      <% if @contact.friend? %>
        <div class="form-field">
          <div class="checkbox-wrapper">
            <%= f.check_box :permit_relay %>
            <%= f.label :permit_relay do %>
              <div class="checkbox-placeholder"></div>
              Permit Relay?
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="form-field">
        <%= f.label :phone %>
        <%= f.phone_field :phone %>
      </div>
    </div>

    <div class="form-submission">
      <%= f.submit %>
    </div>

    <% @contact.addresses.ordered.each do |address| %>
      <div class="sub-form">
        <% if address.primary? %>
          <i class="fa fa-star is-primary"></i>
        <% end %>
        <div class="form-field">
          <small><%= address.icon %> <%= address.label %></small>
          <p><%= address.street %></p>
          <%= link_to "Edit", [:edit, @contact, address], class: :btn %>
        </div>
      </div>
    <% end %>
    <div class="form-field">
      <%= link_to "+ New Address", [:new, @contact, :address], class: :btn if @contact.persisted? %>
    </div>
  <% end %>
</div>
