<%= form_tag nil, method: :get, enforce_utf8: false, authenticity_token: false do |f| %>
  <input type="text" name="q" value="<%= params[:q] %>" placeholder="Filter">
<% end %>

<div class="text-center" style="margin: 20px 0;">
  <%= link_to "< Prev week", params.permit!.except(:action, :controller).merge(date: @date - 1.week) %>
  - <%= link_to "Today", params.permit!.except(:action, :controller, :date) %> -
  <%= link_to "Next week >", params.permit!.except(:action, :controller).merge(date: @date + 1.week) %>
</div>

<div class="calendar">
  <% @cal_events.each_with_index do |row, ridx| %>
    <% evts = row[1..].flatten %>
    <% row.each_with_index do |col, cidx| %>
      <% if ridx == 0 %>
        <div class="cal-date <%= :today if @today == col %>"><%= col&.strftime("%a %-m/%-d/%y") %></div>
      <% elsif cidx == 0 %>
        <div class="cal-hour <%= :mini if evts.none? %>">
          <%=
            case col
            when 0 then :Midnight
            when 12 then :Noon
            when ..12 then "#{col}am"
            when 12.. then "#{col-12}pm"
            end
          %>
        </div>
      <% else %>
        <div class="cal-cell">
          <% col&.each do |evt| %>
            <span title="<%= evt.notes %>"><%= evt.event_name %></span><br>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
