<%= form_tag nil, method: :get, enforce_utf8: false, authenticity_token: false do |f| %>
  <input type="text" name="q" value="<%= params[:q] %>" placeholder="Filter">
<% end %>

<%= form_for ActionEvent.new do |f| %>
  <%= f.text_field :event_name, placeholder: :event_name %>
  <%= f.text_field :notes, placeholder: :notes %>
  <% Time.use_zone("Mountain Time (US & Canada)") do %>
    <% f.object.timestamp ||= Time.current %>
    <%= f.datetime_local_field :timestamp %>
  <% end %>
  <%= f.submit %>
<% end %>

<div class="text-center">
  <%= paginate @events %>
</div>

<div class="ttable striped bordered wide">
  <div class="thead text-center">
    <div class="th"></div>
    <div class="th">Name</div>
    <div class="th">Notes</div>
    <div class="th">Timestamp</div>
  </div>

  <% @events.each do |event| %>
    <div class="trow live-edit-events">
      <%= link_to "X", action_event_path(event), method: :delete, class: "tcell text-center" %>
      <div class="tcell">
        <input data-update-url="<%= action_event_path(event) %>" name="event_name" value="<%= event.event_name %>" class="invisi-field" style="width: 100%;" type="text">
      </div>
      <div class="tcell">
        <input data-update-url="<%= action_event_path(event) %>" name="notes" value="<%= event.notes %>" class="invisi-field" style="width: 100%;" type="text">
      </div>
      <div class="tcell">
        <input data-update-url="<%= action_event_path(event) %>" name="timestamp" value="<%= event.timestamp.in_time_zone("Mountain Time (US & Canada)").iso8601[0..-7] %>" class="invisi-field" style="width: 100%;" type="datetime-local">
      </div>
    </div>
  <% end %>
</div>

<div class="text-center">
  <%= paginate @events %>
</div>
