<%= form_tag nil, method: :get, enforce_utf8: false, authenticity_token: false do |f| %>
  <input type="text" name="filter" value="" placeholder="Filter">
<% end %>

<%= form_for ActionEvent.new do |f| %>
  <%= f.text_field :event_name, placeholder: :event_name %>
  <%= f.text_field :notes, placeholder: :notes %>
  <% Time.use_zone("Mountain Time (US & Canada)") do %>
    <% f.object.timestamp ||= Time.current %>
    <%= f.datetime_local_field :timestamp %>
  <% end %>
  <%= f.submit %>
<% end %>

<div class="text-center">
  <%= paginate @events %>
</div>

<table>
  <thead>
    <th></th>
    <th>Name</th>
    <th>Notes</th>
    <th>Timestamp</th>
  </thead>

  <% @events.each do |event| %>
    <tr>
      <td><%= link_to "X", action_event_path(event), method: :delete %></td>
      <td><%= event.event_name %></td>
      <td><%= event.notes %></td>
      <td><%= event.timestamp.in_time_zone("Mountain Time (US & Canada)").to_formatted_s(:time_with_simple12) %></td>
    </tr>
  <% end %>
</table>

<div class="text-center">
  <%= paginate @events %>
</div>
