<%= form_tag nil, method: :get, enforce_utf8: false, authenticity_token: false do |f| %>
  <input type="text" name="q" value="<%= params[:q] %>" placeholder="Filter">
<% end %>

<%= form_for ActionEvent.new do |f| %>
  <%= f.text_field :name, placeholder: :name %>
  <%= f.text_field :notes, placeholder: :notes %>
  <% Time.use_zone(User.timezone) do %>
    <% f.object.timestamp ||= Time.current %>
    <%= f.datetime_local_field :timestamp, value: f.object.timestamp.strftime("%Y-%m-%dT%H:%M") %>
  <% end %>
  <%= f.submit %>
<% end %>

<div class="text-center" style="margin-bottom: 10px;">
  <%= link_to "Pullups", pullups_action_events_path if current_user.admin? %>
  <%= link_to "Calendar", calendar_action_events_path %>
</div>

<div class="text-center">
  <%= page_entries_info @events %>
  <%= paginate @events %>
</div>

<div class="ttable striped bordered wide">
  <div class="thead text-center">
    <div class="th"></div>
    <div class="th">Name</div>
    <div class="th">Notes</div>
    <div class="th">Data</div>
    <div class="th">Timestamp</div>
    <div class="th">Streak</div>
  </div>

  <% @events.each do |event| %>
    <div class="trow live-edit-events">
      <%= link_to "X", action_event_path(event), method: :delete, class: "tcell text-center" %>
      <div class="tcell">
        <input data-update-url="<%= action_event_path(event) %>" name="name" value="<%= event.name %>" class="invisi-field" style="width: 100%;" type="text">
      </div>
      <div class="tcell">
        <input data-update-url="<%= action_event_path(event) %>" name="notes" value="<%= event.notes %>" class="invisi-field" style="width: 100%;" type="text">
      </div>
      <div class="tcell">
        <span style="font-size: 12px;"><%= event.data %></span>
      </div>
      <div class="tcell">
        <input data-update-url="<%= action_event_path(event) %>" name="timestamp" value="<%= event.timestamp.in_time_zone("Mountain Time (US & Canada)").iso8601[0..-7] %>" class="invisi-field" style="width: 100%;" type="datetime-local">
      </div>
      <div class="tcell">
        <%= event.streak_length || "nil" %>
      </div>
    </div>
  <% end %>
</div>

<div class="text-center">
  <%= paginate @events %>
</div>
