<div class="text-center">
  <select class="monster-selector" name="monster-selector" data-monster-details="<%= summoners_war_monsters_path %>">
    <option value=""></option>
    <% @monsters.each do |monster| %>
      <option value="<%= monster.id %>"><%= monster.name %></option>
    <% end %>
  </select>

  <table class="monsters">
    <% [ :HP, :ATK, :DEF, :SPD, :CRI_RATE, :CRI_DMG, :RES, :ACC ].each do |attr_sym| %>
      <% long_sym = Monster.long_code(attr_sym) %>
      <tr type="<%= long_sym %>">
        <td class="attr-title"><%= attr_sym.to_s.titleize.upcase %></td>
        <td class="attr-value"></td>
        <td class="rune-value"><input type="text" name="<%= long_sym %>"></td>
        <td class="computed-total"></td>
      </tr>
    <% end %>
  </table>
</div>
