<% content_for :head do %>
  <%= javascript_include_tag 'support/colorpicker.js' %>
<% end %>

<div class="skinny-container">

  <%= form_tag colors_path, id: "color-form" do |f| %>
    <div class="form-title">
      Colors
    </div>

    <%= render partial: 'layouts/error_container', locals: { resource: @user } %>

    <div class="form-fields">
      <div class="split-fields">
        <div class="form-field">
          <%= label_tag :start_color do %>
            Start Color
            <input type="text" name="" value="" class="colorpicker">
            <a href="#" class="btn pull-right random-color">Random</a>
          <% end %>
          <%= text_field_tag :start_color, params[:start_color], class: "text-right color-field" %>
        </div>
        <div class="form-field">
          <%= label_tag :end_color do %>
            End Color
            <input type="text" name="" value="" class="colorpicker">
            <a href="#" class="btn pull-right random-color">Random</a>
          <% end %>
          <%= text_field_tag :end_color, params[:end_color], class: "text-right color-field" %>
        </div>
      </div>
      <div class="split-fields">
        <div class="form-field">
          <%= label_tag :steps %>
          <%= text_field_tag :steps, params[:steps] || 10, class: "text-right" %>
        </div>
      </div>
    </div>

    <div class="form-submission">
      <%= submit_tag "Fade!" %>
    </div>

    <div class="colors-wrapper">
      <div class="colors-container">
        <%= render partial: "colors", locals: { colors: @colors, error: @error } %>
      </div>
    </div>
  <% end %>

</div>
