<div class="skinny-container">

  <%= form_tag anonicons_path, id: "anonicon-form" do |f| %>
    <div class="form-title">
      Anonicon
    </div>

    <%= render partial: 'layouts/error_container', locals: { resource: @user } %>

    <div class="form-fields">
      <div class="form-field">
        <%= label_tag :anon_str do %>
          String to Anonify
          <a href="#" class="btn pull-right random-anonicon">Random</a>
        <% end %>
        <%= text_field_tag :anon_str, params[:anon_str] || request.ip %>
      </div>
    </div>

    <div class="form-submission">
      <%= submit_tag "Anonify!" %>
    </div>

    <p class="text-center">Your Anonicon:</p>

    <div class="anonicon-container text-center">
      <%= render partial: "show" %>
    </div>
  <% end %>

</div>
