<% game ||= BowlingGame.new(game_num: params[:game] || 1) %>
<% idx ||= 0 %>
<% bowler = game.bowler || Bowler.new %>

<% set_params = "bowling_set[games_attributes][]" %>

<div class="bowling-table bowler <%= 'absent' if game.absent? %>" data-absent-score="<%= bowler.absent_score %>" data-bowler="<%= idx + 1 %>" data-current-frame="1">
  <%= hidden_field_tag "#{set_params}id", game.id %>
  <%= hidden_field_tag "#{set_params}bowler_name", nil, class: "bowler-name-field" %>
  <%= hidden_field_tag "#{set_params}bowler_id", bowler.id %>
  <%= hidden_field_tag "#{set_params}card_point", game.card_point, class: "card-point-field" %>
  <%= hidden_field_tag "#{set_params}game_num", game.game_num %>
  <%= hidden_field_tag "#{set_params}handicap", game.handicap %>
  <%= hidden_field_tag "#{set_params}position", game.position || idx, class: "game-position" %>

  <div class="bowling-cell bowler-options hidden" data-edit>
    <span class="details">
      <b><%= bowler.name %></b>
      <% if bowler.average&.positive? %>
        <small>AVG:</small> <%= bowler.average %>
      <% end %>
      <% if bowler.handicap&.positive? %>
        <small>HDCP:</small> <%= bowler.handicap %>
      <% end %>
      <div class="presence-options">
        <%= check_box_tag "#{set_params}absent", true, game.absent?, id: "absent-#{idx}", class: "absent-checkbox" %>
        <%= label_tag "#{set_params}absent", "Absent?", for: "absent-#{idx}" %> <br>
        <%= check_box_tag "#{set_params}skip", true, false, id: "skip-#{idx}", class: "skip-checkbox" %>
        <%= label_tag "#{set_params}skip", "Skip?", for: "skip-#{idx}" %>
        <!-- <i class="fa fa-arrows"></i> -->
      </div>
    </span>
    <div class="actions">
      <!-- <div class="btn">Sub</div> -->
    </div>
  </div>
  <div class="bowling-cell bowler-name" data-edit=hide>
    <span class="avg">
      <% if bowler.average&.positive? %>
        <span class="avg-label">AVG:</span> <%= bowler.average %>
      <% end %>
      <% if bowler.handicap&.positive? %>
        <span class="avg-label">HDCP:</span> <%= bowler.handicap %>
      <% end %>
    </span>
    <span class="name"><%= bowler.name %> <span class="absent-bowler <%= 'hidden' unless game.absent? %>">[A]</span></span>
    <div class="prev-scores">
      <% (game.game_num - 1).times do |t| %>
        <% prev_game = @set.games.find_by(bowler: bowler, game_num: t + 1) %>
        <% next if prev_game.nil? %>
        <span class="prev-score <%= "bowling-winner" if prev_game.game_point? %>"><%= "*" if prev_game.card_point? %><%= prev_game.score %><%= "|#{prev_game.total_score}" if prev_game.handicap&.positive? %></span>
      <% end %>
    </div>
  </div>
  <% 10.times do |roll_idx| %>
    <% roll = game.frames[roll_idx] %>
    <div class="bowling-cell frame" data-frame="<%= roll_idx + 1 %>">
      <input type="text" name="<%= set_params %>frames[<%= roll_idx %>][]" value="<%= roll[0] %>" class="basic shot" readonly="true" tabindex="-1">
      <input type="text" name="<%= set_params %>frames[<%= roll_idx %>][]" value="<%= roll[1] %>" class="basic shot" readonly="true" tabindex="-1">
      <% if roll_idx == 9 %>
        <input type="text" name="<%= set_params %>frames[<%= roll_idx %>][]" value="<%= roll[2] %>" class="basic shot" readonly="true" tabindex="-1">
      <% end %>
      <div class="score"></div>
    </div>
  <% end %>
  <div class="bowling-cell total">
    <span class="remove hidden" data-edit>X</span>
    <input type="text" name="<%= set_params %>score" value="<%= game.score %>" class="basic score" readonly="true" tabindex="-1">
    <div class="hdcp" data-base="<%= game.handicap %>"><%= game.handicap %></div>
    <div class="max"></div>
  </div>
</div>
