<% content_for :viewport_tag do %>
  <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=0.7, user-scalable=no" />
<% end %>

<% game ||= BowlingGame.new(game_num: params[:game] || 1) %>
<% idx ||= 0 %>
<% bowler ||= game.bowler || Bowler.new %>
<% bowler_set = @set&.bowler_sets&.find_by(bowler: bowler) %>

<% set_params = "bowling_set[games_attributes][]" %>

<div class="bowling-table bowler <%= 'absent' if game.absent? %>" data-absent-score="<%= bowler_set&.absent_score || bowler.absent_score %>" data-bowler="<%= idx + 1 %>" data-current-frame="1" data-bowler-id="<%= bowler.id %>">
  <%= hidden_field_tag "#{set_params}id", game.id %>
  <%= hidden_field_tag "#{set_params}bowler_name", nil, class: "bowler-name-field" %>
  <%= hidden_field_tag "#{set_params}bowler_id", bowler.id %>
  <%= hidden_field_tag "#{set_params}card_point", game.card_point, class: "card-point-field" %>
  <%= hidden_field_tag "#{set_params}game_num", game.game_num %>
  <%= hidden_field_tag "#{set_params}handicap", game.handicap %>
  <%= hidden_field_tag "#{set_params}position", game.position || idx, class: "game-position" %>

  <div class="bowler-options hidden" data-edit>
    <span class="details">
      <b class="bowler-options-name"><%= bowler.name %></b>
      <% if (avg = bowler_set&.starting_avg || bowler.average)&.positive? %>
        <small>AVG:</small> <%= avg %>
      <% end %>
      <% if (hdcp = bowler_set&.handicap || bowler.handicap)&.positive? %>
        <small>HDCP:</small> <%= hdcp %>
      <% end %>
      <div class="presence-options">
        <%= check_box_tag "#{set_params}absent", true, game.absent?, id: "absent-#{idx}", class: "absent-checkbox" %>
        <%= label_tag "#{set_params}absent", "Absent?", for: "absent-#{idx}" %> <br>
        <%= check_box_tag "#{set_params}skip", true, false, id: "skip-#{idx}", class: "skip-checkbox" %>
        <%= label_tag "#{set_params}skip", "Skip?", for: "skip-#{idx}" %>
      </div>
    </span>
    <div class="actions">
      <% if bowler.persisted? %>
        <div class="btn bowler-sub-btn" data-bowler-name="<%= bowler.name %>" data-bowler-id="<%= bowler.id %>">Sub</div>
      <% end %>
      <!-- <i class="fa fa-arrows"></i> -->
    </div>
  </div>
  <div class="bowling-cell bowler-name">
    <% if game.card_point? %>
      <div class="card-point">+1</div>
    <% end %>
    <span class="avg">
      <% if (avg = bowler_set&.starting_avg || bowler.average)&.positive? %>
        <span class="avg-label">AVG:</span> <%= avg %>
      <% end %>
      <% if (hdcp = bowler_set&.handicap || bowler.handicap)&.positive? %>
        <span class="avg-label">HDCP:</span> <%= hdcp %>
      <% end %>
    </span>
    <span class="name">
      <% if bowler.name.present? %>
        <%= bowler.name %> <span class="absent-bowler <%= 'hidden' unless game.absent? %>">[A]</span>
      <% else %>
        <span class="edit-bowler-name btn">
          <i class="fa fa-pencil"></i>
          Name
        </span>
      <% end %>
    </span>
    <div class="prev-scores">
      <% (game.game_num - 1).times do |t| %>
        <% prev_game = @set&.games&.find_by(bowler: bowler, game_num: t + 1) %>
        <% next if prev_game.nil? %>
        <span class="prev-score nowrap <%= "bowling-winner" if prev_game.game_point? %>"><%= "&#9824; ".html_safe if prev_game.card_point? %><%= prev_game.score %><%= "|#{prev_game.total_score}" if prev_game.handicap&.positive? %></span>
      <% end %>
    </div>
  </div>
  <% 10.times do |roll_idx| %>
    <% frame_detail = game.frame_details[roll_idx] %>
    <% rolls = frame_detail.rolls %>
    <% frame_params = "#{set_params}frames_details[#{roll_idx}]" %>
    <div class="bowling-cell frame" data-frame="<%= roll_idx + 1 %>">
      <span class="split-holder <%= "split" if frame_detail.split? && frame_detail.rolls[0] != "X" %>"><input type="text" name="<%= frame_params %>throw1" value="<%= frame_detail.rolls[0] %>" class="basic shot" data-shot-idx="0" readonly="true" tabindex="-1"></span>
      <span class="split-holder <%= "split" if frame_detail.split? && frame_detail.rolls[0] == "X" %>"><input type="text" name="<%= frame_params %>throw2" value="<%= frame_detail.rolls[1] %>" class="basic shot" data-shot-idx="1" readonly="true" tabindex="-1"></span>
      <% if roll_idx == 9 %>
      <span class="split-holder"><input type="text" name="<%= frame_params %>throw3" value="<%= frame_detail.rolls[2] %>" class="basic shot" data-shot-idx="2" readonly="true" tabindex="-1"></span>
        <input type="hidden" name="<%= frame_params %>throw3_remaining" value="<%= frame_detail.throw3_remaining %>" data-shot-idx="2" class="fallen-pins">
      <% end %>
      <input type="hidden" name="<%= frame_params %>frame_num" value="<%= roll_idx + 1 %>">
      <input type="hidden" name="<%= frame_params %>throw1_remaining" value="<%= frame_detail.throw1_remaining %>" data-shot-idx="0" class="fallen-pins">
      <input type="hidden" name="<%= frame_params %>throw2_remaining" value="<%= frame_detail.throw2_remaining %>" data-shot-idx="1" class="fallen-pins">
      <input type="hidden" name="<%= frame_params %>strike_point" value="<%= frame_detail.strike_point %>" class="strike-point">
      <div class="score"></div>
    </div>
  <% end %>
  <div class="bowling-cell total">
    <span class="remove hidden" data-edit>X</span>
    <input type="text" name="<%= set_params %>score" value="<%= game.score %>" class="basic score" readonly="true" tabindex="-1">
    <div class="hdcp" data-base="<%= game.handicap %>"><%= game.handicap %></div>
    <div class="max"></div>
  </div>
</div>
