<div class="small-bowling-table">
  <% game_count = games.count %>
  <% games.order(:position).each_with_index do |game, row_idx| %>
    <div class="bowling-cell">
      <%= "*" if game.card_point? %><%= game.bowler&.name %>
    </div>
    <% 10.times do |t| %>
      <% frame = game.frames[t] || [] %>
      <%
        corner_side = t == 0 ? "l" : (t == 9 ? "r" : nil)
        corner_top = row_idx == 0 ? "t" : (row_idx == game_count - 1 ? "b" : nil)
        corner = (corner_side.present? && corner_top.present? ? "#{corner_top}#{corner_side}" : nil)
      %>
      <div class="bowling-cell <%= "corner-#{corner}" if corner.present? %>">
        <div class="bowling-toss"><%= frame[0] %></div>
        <div class="bowling-toss"><%= frame[1] %></div>
        <% if t == 9 # 10th %>
          <div class="bowling-toss"><%= frame[2] %></div>
        <% end %>
      </div>
    <% end %>
    <div class="bowling-cell"><%= game.score %></div>
    <div class="bowling-cell <%= "bowling-winner" if game.game_point? %> <%= 'absent-game' if game.absent? %>"><%= game.total_score %></div>
  <% end %>
</div>
