<div class="small-bowling-table">
  <% game_count = games.count %>
  <% games.order(:position).each_with_index do |game, row_idx| %>
    <div class="bowling-cell">
      <span class="nowrap"><%= "&#9824; ".html_safe if game.card_point? %><%= game.bowler&.name %></span>
    </div>
    <% 10.times do |t| %>
      <% frame_detail = game.frame_details[t] %>
      <% rolls = frame_detail.rolls %>
      <%
        corner_classes = []
        corner_classes << "l" if t == 0
        corner_classes << "r" if t == 9
        corner_classes << "t" if row_idx == 0
        corner_classes << "b" if row_idx == game_count - 1
      %>
      <div class="bowling-cell <%= corner_classes.map { |klass| "edge-#{klass}" }.join(" ") %>">
        <div class="toss-wrapper">
          <div class="bowling-toss <%= "split" if frame_detail.split? && frame_detail.rolls[0] != "X" %>"><%= frame_detail.rolls[0] %></div>
          <div class="bowling-toss <%= "split" if frame_detail.split? && frame_detail.rolls[0] == "X" %>"><%= frame_detail.rolls[1] %></div>
          <% if t == 9 # 10th %>
            <div class="bowling-toss"><%= frame_detail.rolls[2] %></div>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="bowling-cell"><%= game.score %></div>
    <div class="bowling-cell <%= "bowling-winner" if game.game_point? %> <%= 'absent-game' if game.absent? %>"><%= game.total_score %></div>
  <% end %>
</div>
