<div class="small-bowling-table">
  <% games.order(:position).each do |game| %>
    <div class="bowling-cell">
      <%= "*" if game.card_point? %><%= game.bowler&.name %>
    </div>
    <% 10.times do |t| %>
      <% frame = game.frames[t] %>
      <div class="bowling-cell">
        <div class="bowling-toss"><%= frame[0] %></div>
        <div class="bowling-toss"><%= frame[1] %></div>
        <% if t == 9 # 10th %>
          <div class="bowling-toss"><%= frame[2] %></div>
        <% end %>
      </div>
    <% end %>
    <div class="bowling-cell"><%= game.score %></div>
    <div class="bowling-cell <%= "bowling-winner" if game.game_point? %>"><%= game.total_score %></div>
  <% end %>
</div>
