<%= render_modal "card-hands", "Hands" do %>
  <ul>
    <li>5kind</li>
    <li>Straight Flush</li>
    <li>4kind</li>
    <li>FullHouse</li>
    <li>Flush</li>
    <li>Straight</li>
    <li>3kind</li>
    <li>2Pair</li>
    <li>Pair</li>
    <li>High Card</li>
  </ul>
<% end %>

<div class="text-right">
  <%= link_to "Edit", "", class: "bowling-edit" %>
</div>
<%# After clicking this, allow bowlers to be added, removed, and moved %>

<div class="bowling-table bowling-header">
  <div class="bowling-cell"></div>
  <% 10.times do |t| %>
    <div class="bowling-cell"><%= t + 1 %></div>
  <% end %>
  <div class="bowling-cell">Total</div>
</div>

<template id="bowling-game">
  <%= render partial: "bowling_game_form" %>
</template>

<%= form_for @set, html: { class: "basic" } do |f| %>
  <%= f.hidden_field :league_id, value: @set.league_id || params[:league] %>
  <% @games.each_with_index do |game, idx| %>
    <%= render partial: "bowling_game_form", locals: { game: game, idx: idx } %>
  <% end %>
  <span class="hidden bowler-placeholder"></span>

  <div class="bowling-table bowling-header">
    <div class="bowling-cell">
      <div class="prev-scores">
        <% game_num = (params[:game].presence || 1).to_i %>
        <% (game_num - 1).times do |t| %>
          <% prev_games = @set.games.where(game_num: t + 1) %>
          <% next if prev_games.none? %>
          <span class="prev-score"><%= prev_games.sum(:score) %><%= "|#{prev_games.total_scores}" if prev_games.sum(:handicap)&.positive? %></span>
        <% end %>
      </div>
    </div>
    <% 10.times do %>
      <div class="bowling-cell invisi-frame"></div>
    <% end %>
    <div class="bowling-cell team-total"></div>
  </div>

  <%= link_to "Add Bowler +", "", class: "btn add-bowler", data: { edit: :show } %>
  <%= f.submit "Save game", class: "pull-right bowling-form-btn", data: { edit: :hide, disable_with: false } %>
<% end %>

<div class="little-card-icon" data-modal="#card-hands">&#9824;</div>

<div class="bowling-input-spacer"></div>
<div class="bowling-input">
  <div class="bowling-keypad-entry">
    <div class="numpad-key">7</div>
    <div class="numpad-key">8</div>
    <div class="numpad-key">9</div>
    <div class="numpad-key">4</div>
    <div class="numpad-key">5</div>
    <div class="numpad-key">6</div>
    <div class="numpad-key">1</div>
    <div class="numpad-key">2</div>
    <div class="numpad-key">3</div>
    <div class="numpad-key">X</div>
    <div class="numpad-key">0</div>
    <div class="numpad-key">/</div>
  </div>
</div>
