<% game_num = (params[:game].presence || 1).to_i %>
<%= render_modal "card-hands", "Hands" do %>
  <ul>
    <li>5kind</li>
    <li>Straight Flush</li>
    <li>4kind</li>
    <li>FullHouse</li>
    <li>Flush</li>
    <li>Straight</li>
    <li>3kind</li>
    <li>2Pair</li>
    <li>Pair</li>
    <li>High Card</li>
  </ul>
<% end %>
<%= render_modal "bowler-sub-list", "Substitute Bowlers" do %>
  <p>Sub in for <strong class="sub-out-name"></strong></p>
  <% @league.bowlers.ordered.each do |bowler| %>
    <div class="bowler-select bowler-form" data-bowler-id="<%= bowler.id %>">
      <b><%= bowler.name %></b><br>
      <% if bowler.average&.positive? %>
        <small>AVG:</small> <%= bowler.average %>
      <% end %>
      <% if bowler.handicap&.positive? %>
        <small>HDCP:</small> <%= bowler.handicap %>
      <% end %>
    </div>
  <% end %>
  <%= render partial: "bowling/bowlers/sub_form", locals: { game_num: game_num } %>
<% end %>

<template id="game-sub-list">
  <% @league.bowlers.ordered.offset(@league.team_size).each do |bowler| %>
    <% game = bowler.games.new(
      set_id:       @set.id,
      position:     bowler.position,
      game_num:     game_num,
      handicap:     bowler.handicap,
      absent_score: bowler.absent_score,
    ) %>
    <%= render partial: "bowling_game_form", locals: { game: game, idx: bowler.position } %>
  <% end %>
</template>

<div class="bowling-table bowling-header">
  <div class="bowling-cell"></div>
  <% 10.times do |t| %>
    <div class="bowling-cell"><%= t + 1 %></div>
  <% end %>
  <div class="bowling-cell">Total</div>
</div>

<template id="bowling-game-template">
  <%= render partial: "bowling_game_form" %>
</template>

<%= form_for @set, html: { class: "basic bowling-game-form" } do |f| %>
  <%= f.hidden_field :league_id, value: @set.league_id || params[:league] %>
  <% @games.each_with_index do |game, idx| %>
    <%= render partial: "bowling_game_form", locals: { game: game, idx: idx } %>
  <% end %>
  <span class="hidden bowler-placeholder"></span>

  <div class="bowling-table bowling-header">
    <div class="bowling-cell">
      <div class="prev-scores">
        <% (game_num - 1).times do |t| %>
          <% prev_games = @set.games.where(game_num: t + 1) %>
          <% next if prev_games.none? %>
          <span class="prev-score"><%= prev_games.sum(:score) %><%= "|#{prev_games.total_scores}" if prev_games.sum(:handicap)&.positive? %></span>
        <% end %>
      </div>
    </div>
    <% 10.times do %>
      <div class="bowling-cell invisi-frame"></div>
    <% end %>
    <div class="bowling-cell team-total"></div>
  </div>

  <div class="bowling-input-spacer"></div>
  <div class="bowling-input">

    <div class="bowling-keypad-entry">
      <div class="numpad-key backspace"><i class="fa fa-trash-o"></i></div>
      <div class="numpad-key card" data-modal="#card-hands">&#9824;</div>
    </div>

    <div class="bowling-keypad-entry" data-pins-show=hide>
      <div class="numpad-key entry">7</div>
      <div class="numpad-key entry">8</div>
      <div class="numpad-key entry">9</div>
      <div class="numpad-key entry">4</div>
      <div class="numpad-key entry">5</div>
      <div class="numpad-key entry">6</div>
      <div class="numpad-key entry">1</div>
      <div class="numpad-key entry">2</div>
      <div class="numpad-key entry">3</div>
      <div class="numpad-key entry">X</div>
      <div class="numpad-key entry">0</div>
      <div class="numpad-key entry">/</div>
    </div>
    <div class="bowling-keypad-entry" data-pins-show=show>
      <div class="pins">
        <% 10.times do |t| %>
          <div class="pin-container" data-pin-num="<%= t + 1 %>">
            <div class="pin-wrapper" data-pin-num="<%= t + 1 %>">
              <span class="pin-num"><%= t + 1 %></span>
              <%= svg "bowling/pin", class: "pin" %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="pin-actions">
        <div class="pin-all-toggle fall pin-btn pin-svg-wrapper"><%= svg "bowling/pin" %></div>
      </div>
      <div class="frame-actions">
        <div class="next-frame pin-btn"><i class="fa fa-chevron-right"></i></div>
      </div>
    </div>

    <div class="bowling-keypad-entry">
      <div class="pin-mode-toggle pin-svg-wrapper numpad-key">
        <%= svg "bowling/pin" %>
      </div>
      <%= link_to "", class: "bowling-edit numpad-key" do %>
        <i class="fa fa-pencil" data-edit=hide></i>
        <i class="fa fa-check" data-edit></i>
      <% end %>
      <%= f.submit "Save", class: "bowling-form-btn", data: { edit: :hide, disable_with: false } %>
    </div>
  </div>
<% end %>
