<div class="text-right">
  <%= link_to "Edit", "", class: "bowling-edit" %>
</div>
<%# After clicking this, allow bowlers to be added, removed, and moved %>

<div class="bowling-table bowling-header">
  <div class="bowling-cell"></div>
  <div class="bowling-cell">1</div>
  <div class="bowling-cell">2</div>
  <div class="bowling-cell">3</div>
  <div class="bowling-cell">4</div>
  <div class="bowling-cell">5</div>
  <div class="bowling-cell">6</div>
  <div class="bowling-cell">7</div>
  <div class="bowling-cell">8</div>
  <div class="bowling-cell">9</div>
  <div class="bowling-cell">10</div>
  <div class="bowling-cell">Total</div>
</div>

<template id="bowling-game">
  <%= render partial: "bowling_game_form" %>
</template>

<%= form_for @set, html: { class: "basic" } do |f| %>
  <%= f.hidden_field :league_id, value: @set.league_id || params[:league] %>
  <% @games.each_with_index do |game, idx| %>
    <%= render partial: "bowling_game_form", locals: { game: game, idx: idx } %>
  <% end %>
  <span class="hidden bowler-placeholder"></span>

  <%= link_to "Add Bowler +", "", class: "btn add-bowler", data: { edit: :show } %>
  <%= f.submit "Save game", class: "pull-right bowling-form-btn", data: { edit: :hide } %>
<% end %>

<div class="bowling-input-spacer"></div>
<div class="bowling-input">
  <div class="bowling-keypad-entry">
    <div class="numpad-key">7</div>
    <div class="numpad-key">8</div>
    <div class="numpad-key">9</div>
    <div class="numpad-key">4</div>
    <div class="numpad-key">5</div>
    <div class="numpad-key">6</div>
    <div class="numpad-key">1</div>
    <div class="numpad-key">2</div>
    <div class="numpad-key">3</div>
    <div class="numpad-key">X</div>
    <div class="numpad-key">0</div>
    <div class="numpad-key">/</div>
  </div>
</div>
