<%= link_to "New League", new_bowling_league_path, class: "btn" %>
<%= link_to "Start Game", new_bowling_game_path, class: "btn" %>

<% @leagues.each do |league| %>
  <div class="league-row">
    <h3><%= league.name %> - <%= league.team_name %></h3>
    <div class="league-actions">
      <%= link_to "View Summary/Stats", bowling_league_path(league), class: "btn" %>
      <%= link_to "New Series", new_bowling_game_path(league: league), class: "btn" %>
    </div>

    <%= render partial: "bowling/bowling_leagues/show", locals: { league: league } %>
  </div>
<% end %>
