<%= meta_title @survey.name, include_name: false %>
<%= meta_description @survey.description  %>

<%= form_for @survey, html: { class: "basic" } do |f| %>
  <% @survey.survey_questions.order(:position).each_with_index do |question, q_idx| %>
    <div class="skinny-container lists-index-container">
      <div class="lists-title instructions"><%= question.text %></div>
      <div class="list-items survey-questions">
        <% base_params = "survey[questions][#{question.id}]" %>
        <% question.answers.each do |answer| %>
          <div class="list-item-container">
            <% selected = false %>
            <% radio_id = "q#{question.id}a#{answer.id}" %>
            <%= radio_button_tag "#{base_params}", answer.id, selected, id: radio_id %>
            <%= label_tag "#{base_params}", class: "list-item", for: radio_id do %>
              <div class="item-name">
                <%= answer.text %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="skinny-container">
    <div class="text-center">
      <%= f.submit "Submit", class: "wide" %>
      <br>
      <br>
      <br>
    </div>
  </div>
<% end %>
