<% preload ||= false %>

<li data-type="<%= box.empty? ? :item : :box %>" data-id="<%= box.id %>" data-sort-order="<%= box.sort_order %>" data-hierarchy="<%= box.hierarchy %>">
  <details <%= :open if false %>>
    <summary>
      <span class="item-name"><%= box.name %></span>
      <span class="item-description"><%= box.description %></span>
      <span class="item-actions">
      </span>
    </summary>
    <ul data-box-id="<%= box.id %>">
      <% if preload %>
        <% box.contents.each do |content| %>
          <%= render partial: "inventory_management/box", locals: { box: content, preload: false } %>
        <% end %>
        <% if box.contents.none? %>
          <li class="empty-box">• &lt;empty&gt;</li>
        <% end %>
      <% else %>
        <li class="post-load-box">Loading...</li>
      <% end %>
    </ul>
  </details>
</li>
