<% level ||= 0 %>
<% content_for :title, "Inventory" %>

<div class="inventory-wrapper">
  <div class="inventory-nav">
    <div class="current">
      <span>Adding to: <code class="hierarchy">Everything</code></span>
      <span>
        <button type="button" class="edit-button" disabled data-modal="edit-modal">Edit</button>
        <button type="button" class="search-button" data-modal="search-modal"><%= fa :search %> Search</button>
      </span>
    </div>

    <%= form_with(url: :inventory, html: { class: "basic new-item-form inventory-inline-form" }) do |f| %>
      <%= f.hidden_field :parent_key, id: :new_box_parent_key %>
      <%= f.text_field :name, placeholder: "Add Items", id: :new_box_name %>
      <%= f.submit "Add" %>
      <template id="box-template">
        <%= render partial: "inventory_management/box", locals: { box: Box.new } %>
      </template>
    <% end %>
  </div>

  <div class="tree">
    <ul role="tree" aria-label="Inventory Tree">
      <li data-type="root" data-id="" data-hierarchy="Everything">
        <div class="root-wrapper">
          <% if @crumbs.nil? %>
            Everything
          <% else %>
            <%= link_to "Everything", inventory_path %>
            <% @crumbs&.each do |crumb| %>
              <span class="crumb">&gt; <%= link_to crumb[:name], box_path(crumb[:id]) %></span>
            <% end %>
          <% end %>
        </div>
      </li>
      <% @boxes.each do |box| %>
        <%= render partial: "inventory_management/box", locals: { box: box } %>
      <% end %>
    </ul>
  </div>
</div>

<% content_for :modals do %>
  <div class="modal widget-modal" id="edit-modal" tabindex="-1">
    <div class="status"></div>
    <div class="close"><i class="ti ti-fa-close"></i></div>
    <div class="modal-content">
      <%= form_with(url: :inventory, method: :patch, local: true, html: { class: "basic inventory-inline-form", id: "editBoxForm" }) do |f| %>
        <div class="copy-url">
          <% host = Rails.env.development? ? "localhost:3141" : "rdjn.me" %>
          <input readonly class="url" type="text" value="" placeholder="<%= host %>/b/:id">
          <% if current_user.admin? %>
            <%= link_to "QR", "#", placeholder: qr_labels_path(box_id: ":box_id"), target: :_blank, class: "btn qr-btn" %>
          <% end %>
        </div>
        <%= f.hidden_field :box_id %>
        <%#= f.hidden_field :parent_key %>
        <%= f.text_field :name, placeholder: "Item Name" %>
        <%= f.text_field :notes, placeholder: "Quick Notes" %>
        <%= f.text_area :description, placeholder: "Description" %>

        <div class="text-right">
          <%= f.submit "Update" %>
        </div>
      <% end %>
      <div class="modal-footer">
        <div class="text-right">
          <button type="button" class="delete-button danger">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal widget-modal" id="search-modal" tabindex="-1">
    <div class="status"></div>
    <div class="close"><i class="ti ti-fa-close"></i></div>
    <div class="modal-content">
      <%= form_with(url: [:inventory, :boxes], html: { class: "basic search-form inventory-inline-form" }) do |f| %>
        <div class="search-breadcrumbs"></div>
        <%= f.text_field :name, placeholder: "Search" %>
        <template id="box-search-result-template">
          <%= render partial: "inventory_management/box_result", locals: { box: Box.new } %>
        </template>
        <div class="search-results"></div>
      <% end %>
    </div>
  </div>
<% end %>
