<%= meta_title "Cards" %>
<%= meta_description "Generic deck of cards that can be used to play games." %>
<% content_for(:viewport_tag) do %>
  <meta name="viewport" content="">
<% end %>
<% content_for :head do %>
  <%= javascript_include_tag 'support/touch_punch.js' %>
<% end %>

<div class="card-game-container">
  <div class="playing-field">
    <div class="zone green" data-zone-type="deck">
      <h1>Deck</h1>
      <%# circle, semi-circle, carbon, checker45, weave %>
      <% while @deck.size > 0 do %>
        <%= render partial: 'card', locals: { card: @deck.draw, back: "semi-circle" } %>
      <% end %>
    </div>
  </div>
  <% if true || dealer? %>
    <div class="dealer-controls">
      <a href="#" class="btn add-zone" data-type="no-flip">New Zone</a>
      <br>
      <% if params[:game].present? %>
        <%= link_to "Default", {}, class: "btn" %>
      <% end %>
      <% if params[:game] != "solitaire" %>
        <%= link_to "Solitaire", {game: :solitaire}, class: "btn" %>
      <% end %>
    </div>
  <% end %>
</div>
