<%= meta_title @survey.name, include_name: false %>
<% results = @survey_response.results %>
<% result = results.first %>
<%= meta_description "#{result[:percentage]}% #{result[:name]}! #{results.first[:description]}"  %>

<div class="skinny-container">
  <div class="form">
    <div class="form-title">
      <%= @survey.name %>
    </div>
    <div class="form-fields">
      <% results.each_with_index do |result, idx| %>
        <div class="form-field">
          <h3 class="text-center">
            <%= result[:name] %>:
            <% if result[:percentage] %>
              <%= result[:percentage] %>%
            <% end %>
            <% if result[:amount] %>
              <%= result[:amount] %>
            <% end %>
          </h3>
          <p class="instructions"><%= result[:description] %></p>
        </div>

        <% if idx < results.count - 1 %>
          <hr>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
