<%= meta_title @survey.name, include_name: false %>


  <div class="skinny-container">
    <div class="form">
      <div class="form-title">
        <%= @survey.name %>
      </div>
      <div class="form-fields">
        <% results = @survey_response.results %>
        <% results.each_with_index do |result, idx| %>
          <div class="form-field">
            <h3 class="text-center"><%= result[:name] %>: <%= result[:percentage] %>%</h3>
            <p><%= result[:description] %></p>
          </div>

          <% if idx < results.count - 1 %>
            <hr>
          <% end %>
        <% end %>
      </div>
  </div>
</div>
