<%= meta_title "#{@list_item.name.capitalize}", include_name: false %>
<%= content_for(:favicon) { render "lists/favicon" } %>
<%= render partial: "schedule" %>

<div class="skinny-container list-container" data-list-id="<%= @list.id %>" data-list-item-id="<%= @list_item.id %>">
  <div class="btn-container">
    <a href="<%= list_path(@list) %>" class="btn">&larr; Back to List</a>
    <%= link_to "Destroy", list_list_item_path(@list, @list_item, really_destroy: true), method: :delete, class: "btn danger pull-right", data: { confirm: "This will remove all trace of this item regardless of schedules set or permanence. This cannot be undone. Are you sure you would like to continue?" } %>
  </div>
  <div class="list-title"><%= @list_item.name %></div>
  <div class="list-error hidden">Disconnected...</div>
  <div class="list-items" data-update-url="<%= list_list_item_path(@list, @list_item) %>">
    <div class="list-item-container" data-editable data-item-url="<%= list_list_item_path(@list, @list_item) %>">
      <div class="list-item-config">
        <div>Category (Click/tap and hold to edit)</div>
      </div>
      <div class="list-item">
        <div class="item-name"><%= @list_item.category %></div>
        <input type="text" name="category" value="<%= @list_item.category %>" class="hidden list-item-field">
      </div>
    </div>
    <% @list_item.options.each_with_index do |(option_key, description), idx| %>
      <div class="list-item-options" data-sort-order="<%= idx %>" data-item-id="<%= @list_item.id %>">
        <%=
          content_tag :input, "", {
            type: "checkbox",
            id: "list_item[#{option_key}]",
            name: "list_item[#{option_key}]",
            class: "list-item-checkbox",
            checked: @list_item.send(option_key),
            data: { "submit-url": list_list_item_path(@list, @list_item) }
          }
        %>
        <label for="list_item[<%= option_key %>]" class="list-item">
          <div class="checkbox-wrapper"></div>
          <div class="item-name">
            <big>&bull; <%= option_key.to_s.titleize %></big>
            <small><%= description %></small>
          </div>
        </label>
      </div>
    <% end %>
    <div class="list-item-options" data-sort-order="<%= @list_item.options.length %>" data-item-id="<%= @list_item.id %>">
      <label for="list_item[schedule]" class="list-item">
        <div class="item-name" data-modal="#list-item-schedule">
          <big>&bull; Schedule</big>
          <p class="portfolio-color schedule"><%= @list_item.schedule_in_words %></p>
          <p class="portfolio-color countdown" data-next-occurrence="<%= (@list_item.schedule_next.to_f * 1000).round %>"></p>
          <small>Click here to configure the schedule. When setting a schedule, after the next date, the item will refresh- adding itself back to your list.</small>
        </div>
      </label>
    </div>
  </div>
</div>
