<% list ||= @list || item.list %>
<% item ||= @list.list_items.new(id: :new) %>
<% template ||= false %>

<div class="list-item-container" data-editable data-sort-order="<%= item.sort_order %>" data-item-id="<%= item.id %>" data-item-url="<%= list_list_item_path(list, item) unless template %>" data-updated="<%= item.updated_at.to_i %>">
  <% unless template %>
    <div class="list-item-config">
      <% if item.important? %>
        <div class="important"><i class="fa fa-star"></i></div>
      <% end %>
      <%= content_tag :div, item.category, class: "category" %>
      <%= content_tag :div, nil,           class: "locked"    if item.permanent? %>
      <%= content_tag :div, nil,           class: "recurring" if item.schedule? %>
    </div>
    <div class="list-item-access">
      <div class="list-item-handle"><i class="fa fa-ellipsis-v"></i></div>
      <a href="<%= edit_list_list_item_path(list, item) %>" class="settings-btn"><i class="fa fa-cog"></i></a>
      <div class="category-btn"><i class="fa fa-tag"></i></div>
    </div>
  <% end %>
  <%= content_tag :input, "",
    type: :checkbox,
    id: "list_item[#{item.id}]",
    class: "list-item-checkbox",
    name: "list_item[#{item.id}]",
    value: "#{item.id}",
    checked: item.deleted?,
    data: {
      "checked-url": "#{list_list_item_path(list, item) unless template}",
      "create-url": "#{list_list_items_path(list) unless template}"
    }
  %>
  <label for="list_item[<%= item.id %>]" class="list-item">
    <div class="checkbox-wrapper"></div>
    <div class="item-name" data-raw="<%= item.name %>"><%= Markdown.new(item.name, user: current_user).to_html %></div>
    <input type="text" name="name" value="<%= item.name %>" class="hidden list-item-field">
    <input type="text" name="category" value="<%= item.category %>" placeholder="Category" class="hidden list-item-category-field">
  </label>
</div>
