<%= meta_title "Whisper", include_name: false %>
<%= meta_description "Track feedings, naps, sleep, and daily activity." %>
<%= content_for(:favicon) { render "whisper/favicon" } %>
<%= content_for(:meta) do %>
  <script src="https://kit.fontawesome.com/b00e44a575.js" crossorigin="anonymous"></script>
<% end %>

<div class="whisper-container" data-birth-date="2025-10-14" data-monitor-channel="whisper-durations">
  <span class="whisper-notify-toggle hidden" title="Enable notifications">
    <span class="notify-icon-on"><%= fa(:bell) %></span>
    <span class="notify-icon-off"><%= fa(:bell_slash) %></span>
  </span>
  <span class="whisper-mute-toggle" title="Toggle sound">
    <span class="mute-icon-on"><%= fa(:volume_high) %></span>
    <span class="mute-icon-off"><%= fa(:volume_xmark) %></span>
  </span>
  <% if whisper_owner? %>
    <div class="whisper-menu" data-whisper-menu>
      <span class="whisper-menu-toggle" title="More actions"><%= fa(:ellipsis_vertical) %></span>
      <ul class="whisper-menu-items hidden">
        <li>
          <button type="button" class="whisper-menu-item" data-trigger="whisper-bath">
            <%= fa(:bath) %><span>Bath</span>
          </button>
        </li>
        <li>
          <button type="button" class="whisper-menu-item" data-trigger="whisper-wake-sound">
            <%= fa(:music) %><span>Play "Wake" Sound</span>
          </button>
        </li>
        <li>
          <button type="button" class="whisper-menu-item" data-action="play-nap-local">
            <%= fa(:music) %><span>Play "Nap" Sound Here</span>
          </button>
        </li>
        <li>
          <button type="button" class="whisper-menu-item" data-trigger="whisper-disable-quiet">
            <%= fa(:moon) %><span>Disable "Quiet" Mode</span>
          </button>
        </li>
        <li>
          <button type="button" class="whisper-menu-item" data-trigger="whisper-puppy-music">
            <%= fa(:music) %><span>Play Puppy Music</span>
          </button>
        </li>
        <li>
          <button type="button" class="whisper-menu-item" data-action="log-vomit">
            <%= fa(:medkit) %><span>Log Vomit</span>
          </button>
        </li>
      </ul>
    </div>

    <div class="whisper-modal hidden" data-whisper-vomit-modal>
    <div class="whisper-modal-backdrop" data-vomit-dismiss></div>
    <form class="whisper-modal-content basic" data-vomit-form>
      <h3>Log Vomit</h3>
      <label>
        <span>Description</span>
        <textarea name="notes" rows="3" data-vomit-notes></textarea>
      </label>
      <label>
        <span>Time</span>
        <input type="datetime-local" name="timestamp" data-vomit-timestamp required>
      </label>
      <div class="whisper-modal-actions">
        <button type="button" class="whisper-modal-cancel" data-vomit-dismiss>Cancel</button>
        <button type="submit" class="whisper-modal-submit">Save</button>
      </div>
    </form>
  </div>
  <% end %>
  <div class="whisper-header">
    <span class="whisper-name">Whisper</span>
    <div class="whisper-age-line">
      <span class="whisper-icon"><%= image_tag "whisper_favicon/whisper-detail.png" %></span>
      <span class="whisper-age"></span>
    </div>
  </div>

  <div class="whisper-status"></div>

  <div class="whisper-durations"></div>

  <% if whisper_owner? %>
    <div class="task-trigger-btns whisper-buttons">
      <% @tasks.each do |task| %>
        <%= render partial: "jil/tasks/trigger", locals: { task: task } %>
      <% end %>
    </div>

    <div class="ctr-lists act-show">
      <div class="skinny-container list-container" data-list-id="<%= @list.id %>" data-list-mode="kiosk" data-list-reset="5m">
        <div class="list-error hidden">Disconnected...</div>
        <template id="list-item-template">
          <%= render template: "list_items/show", locals: { list: @list, template: true }, layout: false %>
        </template>
        <div class="list-items" data-update-url="<%= receive_update_list_path(@list) %>">
          <%= render template: "list_items/index", locals: { list: @list } %>
        </div>
      </div>
    </div>
  <% end %>
</div>
