<%= meta_title "Whisper", include_name: false %>
<%= content_for(:favicon) { render "whisper/favicon" } %>
<%= content_for(:meta) do %>
  <script src="https://kit.fontawesome.com/b00e44a575.js" crossorigin="anonymous"></script>
<% end %>

<div class="whisper-container" data-birth-date="2025-10-14" data-monitor-channel="whisper-durations">
  <span class="whisper-notify-toggle hidden" title="Enable notifications">
    <span class="notify-icon-on"><%= fa(:bell) %></span>
    <span class="notify-icon-off"><%= fa(:bell_slash) %></span>
  </span>
  <span class="whisper-mute-toggle" title="Toggle sound">
    <span class="mute-icon-on"><%= fa(:volume_high) %></span>
    <span class="mute-icon-off"><%= fa(:volume_xmark) %></span>
  </span>
  <div class="whisper-header">
    <span class="whisper-name">Whisper</span>
    <div class="whisper-age-line">
      <span class="whisper-icon"><%= image_tag "whisper_favicon/whisper-detail.png" %></span>
      <span class="whisper-age"></span>
    </div>
  </div>

  <div class="whisper-status"></div>

  <div class="whisper-durations"></div>

  <div class="task-trigger-btns whisper-buttons">
    <% @tasks.each do |task| %>
      <%= render partial: "jil/tasks/trigger", locals: { task: task } %>
    <% end %>
  </div>

  <div class="ctr-lists act-show">
    <div class="skinny-container list-container" data-list-id="<%= @list.id %>" data-list-mode="kiosk" data-list-reset="5m">
      <div class="list-error hidden">Disconnected...</div>
      <template id="list-item-template">
        <%= render template: "list_items/show", locals: { list: @list, template: true }, layout: false %>
      </template>
      <div class="list-items" data-update-url="<%= receive_update_list_path(@list) %>">
        <%= render template: "list_items/index", locals: { list: @list } %>
      </div>
    </div>
  </div>
</div>
