<div class="skinny-container">
  <a href="<%= new_email_path %>" class="btn">New Email</a>
  <div class="flex-container">
    <div class="flex-field flex-10">
      <input type="text" name="" value="<%= params[:q] %>" class="search">
    </div>
    <div class="flex-field flex-2 flex-vert-align">
      <button type="button" name="button" class="search-button">Go</button>
    </div>
  </div>
  <div class="email-filter-buttons-container">
    <div class="email-filter" data-filter="in:archived"><i class="ti ti-oct-trashcan"></i></div>
    <div class="email-filter" data-filter="in:read"><i class="ti ti-oct-mail_read"></i></div>
    <div class="email-filter" data-filter="in:sent"><i class="ti ti-mdi-mailbox"></i></div>
    <div class="email-filter" data-filter="in:failed"><i class="ti ti-mdi-email_alert"></i></div>
    <div class="email-filter" data-filter="in:all"><i class="ti ti-oct-mail"></i></div>
  </div>
</div>

<div class="emails-container">
  <div class="text-center">
    <%= paginate @emails, params: params.to_unsafe_h %>
  </div>
  <div class="text-right">
    <%= page_entries_info @emails %>
  </div>

  <% @emails.each do |email| %>
    <div class="email-wrapper">
      <a href="<%= email_path(email) %>" class="email-container <%= 'unread' unless email.read? %>">
        <div class="timestamp"><%= email.created_at.in_time_zone("Mountain Time (US & Canada)").to_formatted_s(:simple_with_time) %></div>
        <div class="from">
          <% if email.archived? %>
            <i class="ti ti-oct-trashcan"></i>
          <% end %>
          <% if email.attachments&.any? %>
            <div class="attachments"><i class="ti ti-mdi-paperclip"></i></div>
          <% end %>
          <% if email.inbound? %>
            <i class="ti ti-fa-arrow_right"></i>
          <% end %>
          <%= email.outbound_address %>
        </div>
        <div class="to"><%= email.inbound_address %></div>
        <div class="subject"><%= email.subject.presence || "<No Subject>" %></div>
        <div class="body"><%= email.text_body.presence || "<No Content>" %></div>
      </a>
      <div class="controls">
        <%= link_to email_path(email, email: { archived: true }), method: :patch, remote: true, class: "remote-email archived" do %><i class="ti ti-oct-trashcan"></i><% end %>
        <%= link_to email_path(email, email: { read: true }), method: :patch, remote: true, class: "remote-email read" do %><i class="ti ti-fa-check"></i><% end %>
      </div>
    </div>
  <% end %>

  <div class="text-center">
    <%= paginate @emails, params: params.to_unsafe_h %>
  </div>
</div>
