<%= content_for(:head) do %>
  <script type="text/javascript">
    resizeIframe = function(evt) {
      var iframe = $(".display-email-container").get(0)

      iframe.style.height = iframe.contentWindow.document.body.scrollHeight + 50 + "px"
    }
  </script>
<% end %>

<div class="skinny-container">
  <a href="<%= emails_path %>" class="btn">All Emails</a>
</div>
<div class="email-details">
  <table>
    <tr class="timestamp">
      <td>Timestamp</td>
      <td><%= @email.created_at.in_time_zone("America/Denver") %></td>
    </tr>
    <tr class="from">
      <td>From</td>
      <td><%= @email.from %></td>
    </tr>
    <tr class="to">
      <td>To</td>
      <td><%= @email.to %></td>
    </tr>
    <tr class="subject">
      <td>Subject</td>
      <td><%= @email.subject.presence || "<No Subject>" %></td>
    </tr>
  </table>
</div>
<div class="skinny-container">
  <%
    reply_details = {
      email: {
        from_user: @email.inbound_address,
        to: @email.outbound_address,
        subject: "RE: #{@email.subject}"
      }
    }
    forward_details = {
      email: {
        from_user: @email.inbound_address,
        subject: "FWD: #{@email.subject}",
        html_body: @email.html_body
      }
    }
  %>
  <a href="<%= new_email_path(reply_details) %>" class="btn">Reply</a>
  <a href="<%= new_email_path(forward_details) %>" class="btn">Forward</a>
  <% if @email.archived? %>
    <%= link_to "Unarchive", email_path(@email, email: {archived: false}), method: :patch, class: "btn" %>
  <% else %>
    <%= link_to "Archive", email_path(@email, email: {archived: true}), method: :patch, class: "btn" %>
  <% end %>
  <% if @email.attachments&.any? %>
    <p> Attachments:
      <% @email.retrieve_attachments.each do |(attach_id, attachment)| %>
        <%= link_to "<#{attachment[:filename]}>", attachment[:presigned_url], target: "_blank" %>
      <% end %>
    </p>
  <% end %>
</div>

<div class="skinny-container">
  <% if @email.html_body.present? %>
    <%= render_iframe(@email.html_with_attachments) %>
  <% elsif @email.text_body.present? %>
    <h3 class="text-center">Text:</h3>
    <%= render_iframe(@email.text_body) %>
  <% elsif @email.blob.present? %>
    <h3 class="text-center">Blob:</h3>
    <%= render_iframe(@email.blob) %>
  <% else %>
    <h3 class="text-center">No Content</h3>
  <% end %>
</div>

<%= form_for @email do |f| %>
  <%= f.submit %>
  <%= f.text_area :html_body, rows: @email.html_body&.count("\n").to_i + 5, style: "white-space: nowrap;", class: "no-markdown" %>
<% end %>
