<%= content_for(:head) do %>
  <script type="text/javascript">
    resizeIframe = function(evt) {
      let iframe = document.querySelector(".display-email-container")

      iframe.style.height = iframe.contentWindow.document.body.scrollHeight + 50 + "px"
    }
  </script>
<% end %>

<div class="skinny-container">
  <a href="<%= emails_path %>" class="btn">All Emails</a>
</div>
<div class="email-details">
  <table>
    <tr class="timestamp">
      <td>Timestamp</td>
      <td><%= @email.created_at.in_time_zone("Mountain Time (US & Canada)") %></td>
    </tr>
    <tr class="from">
      <td>From</td>
      <td><%= @email.from.join %></td>
    </tr>
    <tr class="to">
      <td>To</td>
      <td><%= @email.to.join %></td>
    </tr>
    <tr class="subject">
      <td>Subject</td>
      <td><%= @email.subject.presence || "<No Subject>" %></td>
    </tr>
  </table>
</div>
<div class="skinny-container">
  <%
    reply_details = {
      email: {
        from_user: @email.from,
        to: @email.to,
        subject: "RE: #{@email.subject}"
      }
    }
    forward_details = {
      email: {
        from_user: @email.from,
        subject: "FWD: #{@email.subject}",
        to_html: @email.to_html
      }
    }
  %>
  <a href="<%= new_email_path(reply_details) %>" class="btn">Reply</a>
  <a href="<%= new_email_path(forward_details) %>" class="btn">Forward</a>
  <% if @email.archived? %>
    <%= link_to "Unarchive", email_path(@email, email: {archived: false}), method: :patch, class: "btn" %>
  <% else %>
    <%= link_to "Archive", email_path(@email, email: {archived: true}), method: :patch, class: "btn" %>
  <% end %>
</div>

<div class="skinny-container">
  <%= render_iframe(@email.to_html) %>
</div>
