<div class="skinny-container" style="margin-bottom: 100px;">

  <div style="margin-top: 20px;">
    <h4>Time</h4>
    <p><%= @logger.created_at.to_formatted_s(:simple_with_time) %></p>
  </div>
  <div style="margin-top: 20px;">
    <h4>User</h4>
    <p>
      <% if @logger.user %>
        <%= @logger.user.id %> <%= @logger.user.username %>
      <% else %>
        <i>Not signed in</i>
      <% end %>
    </p>
  </div>
  <div style="margin-top: 20px;">
    <h4>IP</h4>
    <p><%= @logger.ip_address %></p>
  </div>
  <div style="margin-top: 20px;">
    <h4>User Agent</h4>
    <p><%= @logger.user_agent %></p>
  </div>
  <div style="margin-top: 20px;">
    <h4>HTTP Method</h4>
    <p><%= @logger.http_method %></p>
  </div>
  <div style="margin-top: 20px;">
    <h4>URL</h4>
    <p><%= @logger.url %></p>
  </div>
  <div style="margin-top: 20px;">
    <h4>Params</h4>
    <pre><%= JSON.pretty_generate @logger.params_json rescue @logger.params_json %></pre>
  </div>
  <div style="margin-top: 20px;">
    <h4>Headers</h4>
    <pre><%= JSON.pretty_generate @logger.headers_json rescue @logger.headers_json %></pre>
  </div>
  <div style="margin-top: 20px;">
    <h4>Body</h4>
    <pre><%= JSON.pretty_generate @logger.body_json rescue @logger.body_json %></pre>
  </div>

</div>
