<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || "Rocco Nicholls" %></title>
  <%= action_cable_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="dA8F2chnGYw0DrE-uUDKK6j9UTtuCBcLhPgd3hOYqAk" />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <% if content_for? :head %>
    <%= yield :head %>
  <% end %>
  <% if content_for? :favicon %>
    <%= yield :favicon %>
  <% else %>
    <%#= render 'favicon' %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= content_for :body_classes %>">
  <%= render 'layouts/flashes' %>
  <%= yield %>

</body>
</html>
