<!DOCTYPE html>
<html style="height: 100%;">
<head>
  <title><%= content_for(:title) || "Rocco Nicholls" %></title>
  <%= action_cable_meta_tag %>
  <% if content_for? :viewport_tag %>
    <%= content_for :viewport_tag %>
  <% else %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <% end %>
  <meta name="google-site-verification" content="dA8F2chnGYw0DrE-uUDKK6j9UTtuCBcLhPgd3hOYqAk" />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <% if content_for? :head %>
    <%= yield :head %>
  <% end %>
  <% if content_for? :favicon %>
    <%= yield :favicon %>
  <% else %>
    <%#= render 'favicon' %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body class="ctr-<%= controller_name %> act-<%= action_name %> <%= content_for :body_classes %>">
  <%= render 'layouts/flashes' %>
  <%= yield %>

  <% if content_for? :after_js %>
    <%= yield :after_js %>
  <% end %>
</body>
</html>
