<!DOCTYPE html>
<html style="height: 100%;">
<head>
  <title><%= content_for(:title) || "Rocco Nicholls" %></title>
  <%= action_cable_meta_tag %>
  <meta name="google-site-verification" content="dA8F2chnGYw0DrE-uUDKK6j9UTtuCBcLhPgd3hOYqAk" />
  <% description = content_for(:description) || "This is the Portfolio site for Rocco Nicholls. I host tools I build as well as links to projects I've worked on here. Please feel free to take a look around let me know what you think!" %>
  <meta name="description" content="<%= description %>">
  <meta name="uptime" content="true">
  <% if content_for? :viewport_tag %>
    <%= content_for :viewport_tag %>
  <% else %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <% end %>
  <%= yield :meta %>
  <%= yield :head_before_scripts %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= yield :head %>
  <% if content_for? :favicon %>
    <%= yield :favicon %>
  <% else %>
    <%= render 'favicon' %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body class="ctr-<%= controller_name %> act-<%= action_name %> <%= content_for :body_classes %>">
  <%= render 'layouts/flashes' %>
  <%= yield :modals %>
  <%= yield %>

  <% if content_for? :after_js %>
    <%= yield :after_js %>
  <% end %>
</body>
</html>
