<!DOCTYPE html>
<html style="height: 100%;" class="html-ctr-<%= controller_name %> html-act-<%= action_name %> <%= 'dark-mode' if !@skip_dark_mode && current_user.try(:dark_mode?) %>">
<head>
  <title><%= content_for(:title) || "JARVIS" %></title>
  <%= action_cable_meta_tag %>
  <% description = content_for(:description) || "Jarvis actions" %>
  <meta name="description" content="<%= description %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= yield :meta %>
  <%= yield :head_before_scripts %>
  <% if current_user&.confirmed? %>
    <script type="text/javascript">window.jwt = "<%= jwt %>";</script>
  <% end %>
  <%= stylesheet_link_tag "quick_actions", media: "all" %>
  <script defer type="module" src="/quick_actions.js"></script>
  <%= yield :head %>
  <% if content_for? :favicon %>
    <%= yield :favicon %>
  <% else %>
    <%#= render 'favicon' %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body class="ctr-<%= controller_name %> act-<%= action_name %> <%= content_for :body_classes %>">
  <%= yield %>
  <%= yield :modals %>
  <%= yield :after_body %>
</body>
</html>
