<div class="skinny-container">

  <%= form_for @user, url: register_path do |f| %>
    <%= f.hidden_field :invitation_token, value: @user.invitation_token || params[:invitation_token] %>
    <div class="form-title">
      Sign Up
    </div>

    <%= render partial: 'layouts/error_container', locals: { resource: @user } %>

    <div class="form-fields">
      <div class="form-field">
        <%= f.label :username %>
        <%= f.text_field :username %>
      </div>
      <div class="form-field">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div class="form-field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>
    </div>

    <div class="form-submission">
      <%= f.submit "Register" %>
    </div>

    <div class="helpful-links">
      <a href="<%= login_path %>">Already have an account?</a>
    </div>
  <% end %>

</div>
