<%= content_for(:title) do %>
  Summary of <%= (@set.created_at || Time.current).in_time_zone("Mountain Time (US & Canada)").to_formatted_s(:short_month_day) %> - <%= @set.league.name %>
<% end %>

<%= link_to "â† League", bowling_league_path(@set.league), class: :btn %>
<%= link_to "Delete Series", bowling_set_path(@set), class: "btn pull-right danger", method: :delete, data: { confirm: "Are you sure you want to delete this series? This cannot be undone." } %>

<%= render partial: "bowling/bowling_sets/show", locals: { set: @set } %>

<% if @set.frames.where.not(throw1_remaining: nil).any? %>
  <div class="league-set-pins">
    <% @set.games_complete.times do |t| %>
      <div class="league-game-pins">
        <%= link_to edit_bowling_game_path(@set, game: t + 1) do %>
          <i class="fa fa-pencil"></i>
        <% end %>
        <%= render partial: "bowling/bowling_games/small_detail", locals: { games: @set.games_for_display(t + 1) } %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="league-set">
    <% @set.games_complete.times do |t| %>
      <div class="league-game">
        <%= link_to edit_bowling_game_path(@set, game: t + 1) do %>
          <i class="fa fa-pencil"></i>
        <% end %>
        <%= render partial: "bowling/bowling_games/small_show", locals: { games: @set.games_for_display(t + 1) } %>
      </div>
    <% end %>
  </div>
<% end %>
